[2020-01-20 09:44] dddomodossola commented on #355
Today I'm really busy at work. However I would like to replace the default action. I suppose to do in widgets constructor (Link, CheckBox):

    self.attributes[Widget.EVENT_ONCLICK]` = "event.stopPropagation()"

If you have the time to make and test the fix, I will be happy to merge a pull request. Otherwise no problem, I will make it soon.

[2020-01-20 10:28] pec0ra commented on #355
Ok, I will have a look at it.

I could already successfully try your fix for onclick events on links and checkboxes but I will try to see if I can find a list of all possible actions for all possible event. There seem to be a lot of them. For example keydown would block writing in an input or mousedown might block text selection.

[2020-01-20 10:35] mcondarelli commented on #355
Is there anything I can do *on my code* to work around the specific (link in `TableItem`) problem I have?
I would like to be able to use "stock RemI".

[2020-01-20 10:39] dddomodossola commented on #355
@mcondarelli you will get the fix released in remi at least Tomorrow ;-)

A quick fix would be to do on all your link objects `mylink[Widget.EVENT_ONCLICK] = "event.stopPropagation()"`

[2020-01-20 11:01] mcondarelli commented on #355
@dddomodossola: I'm not sure I follow you:

[code]
results in:
[code]
Should I use`Link()` instead of `FileDownloader()`?

Note: reason why I ask is because I can update my code, but I would like to avoid to have users to update their systems (and RemI with it).

[2020-01-20 11:14] pec0ra commented on #355
The `.attributes` is missing, this was probably a typo. You should use:
[code]

[2020-01-20 14:37] dddomodossola commented on #355
@pec0ra

I found these interesting information https://javascript.info/default-browser-action

However I tried to put a TextInput inside a container, registered an onclick listener for the container (so having preventDefault), and the text is selectable (it works). I don't understand why. It should be prevented.. I did some further tests, a simple example about TextInput, CheckBox, Link, Slider, D

[2020-01-20 14:47] pec0ra commented on #355
@dddomodossola

It works because other elements have default actions for other events, not onclick.
Try adding an `onmousedown` listener and nothing works anymore. `onkeydown` will also block some functionalities.

[code]

I would suggest that you reconsider having the `event.stopPropagation()` and `event.preventDefault()` everywhere. Did you have a good reason to put them everywhere? They change

[2020-01-20 15:00] dddomodossola commented on #355
I can of course reconsider it.
I don't exactly remember the motivation behind that decision.

[2020-01-20 15:31] pec0ra commented on #355
Sounds great! What about `event.stopPropagation()`?

[2020-01-20 16:30] dddomodossola commented on #355
If I click on an element, I think it should not trigger the event of a parent.
Why you suggest to remove stopPropagation?

[2020-01-20 16:34] pec0ra commented on #355
I am not sure... but it's the default behavior in the browsers so it is probably what web developers will expect.

[2020-01-20 16:46] dddomodossola commented on #355
I understand this point of view, however remi should respect the laws of a standard gui library (not web development). Do you see possible problems on using stopPropagation considering this point?

[2020-01-20 17:07] mcondarelli commented on #355
My understanding is javascript specification itself requires double traversal of hierarchy as the "standard event path" and should be messed with only for specific needs, not as a general rule.
In the specific case why do you want to prevent parent from knowing if some of its children received an event? Even "Standard GUI libraries" (e.g.: Qt) leave to the individual handler to decide if event pro

[2020-01-20 17:17] pec0ra commented on #355
This makes sense.

I don't really see an issue with keeping `stopPropagation`, no.

[2020-01-21 20:53] dddomodossola commented on #355
@mcondarelli that's right! Today I thought about this and what @pec0ra says is correct, the `preventDefault` should be a parameter, and maybe the same is valid for `stopPropagation`.

[2020-01-21 22:47] dddomodossola commented on #356
Hello @jimbob88 ,

excuse me the late reply. Here is an example to show a dialog on startup:

    import remi.gui as gui
    from remi import start, App
    import os

    class MyApp(App):
        def main(self):
            #creating a container VBox type, vertical (you can use also HBox or Widget)
            main_container = gui.VBox(width=300, height=200, style={'margin':'0px auto'})

[2020-01-21 22:52] dddomodossola commented on #357
@jimbob88 , as shown in the issue #356 , a dialog can be shown at startup in App.onpageshow. The App.mian must return the root widget. Having onpageshow you can solve this elegantly.

[2020-01-23 18:05] jimbob88 commented on #356
Thank you very much for your help!

[2020-01-23 18:05] #356 closed

[2020-01-23 18:05] #357 closed

[2020-01-29 09:19] FlorianPicca opened #358 "Impossible to resize/drag objects in the editor"
When in the GUI editor, trying to drag/resize/select an object produces this kind of error in the logs :
[code]
I installed remi using pip like this :
[code]

[2020-01-29 09:39] dddomodossola commented on #358
Hello @FlorianPicca ,

The problem is that you downloaded the editor from **master** branch that has changes, and you are using the last remi release that is behind the master branch.
Download the editor from here: https://github.com/dddomodossola/remi/tree/2020.1.16

Regards

[2020-01-29 09:45] FlorianPicca commented on #358
Hi @dddomodossola ,

My bad. Thanks I got it working now !

Regards

[2020-01-29 09:46] dddomodossola commented on #358
You are welcome ;-)

[2020-02-03 15:05] pawelevans opened #359 "SyntaxError on running python3 widgets_overview_app.py"
Hi,
Just going through the tutorial, and getting the following error:

File "widgets_overview_app.py", line 7
  <!DOCTYPE html>
SyntaxError: invalid syntax

Any suggestions?
Thanks

[2020-02-03 15:11] dddomodossola commented on #359
Hello @pawelevans , which python version are you using? Can you show me the complete error message?

[2020-02-03 15:15] pawelevans commented on #359
Hi and thanks for speed reply.
I just tried running the example scripts and they work fine.
I'm using python 3.5.2
The complete message is exactly as I posted.

[2020-02-03 16:02] dddomodossola commented on #359
I installed python3.5.2 and I have no problems. I suggest you to download again the remi examples. Let me know if the problem persist.

[2020-02-04 09:05] pawelevans commented on #359
Thanks for your help, the examples are working fine.
I am looking to use remi to run a webserver on a device which will show sensor data such as digital inputs and also control digital outputs on another device via coap messages.  So for example, a browser selects an input which will direct the server to call a coap function to get the status from the device, and this status will automatically upd

[2020-02-04 09:29] dddomodossola commented on #359
@pawelevans yes of course, you should be able to make a GUI for this with very few lines of code. You can also feel it simple to use the graphical editor. Here I am if you need help ;-)

[2020-02-04 09:32] pawelevans commented on #359
graphical editor sounds great, is there a link for this or a guide on how to use this?
Thanks again for your help, much appreciated!
I am playing with examples that are there, but I would like to start one from scratch :-)

[2020-02-04 10:12] dddomodossola commented on #359
Here is a link to the online version of the Editor https://remiguieditor.daviderosa.repl.co/
It could apper to be slow, for a comfortable use you can download the entire Remi repository, the editor is a subfolder.
If you want to start from scratch, copy and paste the "template_app.py" script, it would be a good start point.

[2020-02-04 10:56] pawelevans commented on #359
That's really great help, thank you  I will try it now!

[2020-02-05 08:43] pawelevans commented on #359
Hi, I have opened up the editor in both Chrome and Firefox.  I am unable to move or resize the widget using the arrows around the widget, or by grabbing the widget and moving it.  Any ideas?

[2020-02-05 09:38] dddomodossola commented on #359
The tutorial is a bit outdated. In the new Editor version you can set all widgets properties (also the name and label content) by the panel on the right side.
The cloned version does not work because you are using the Editor from the GitHub master branch (most updated) and the remi version on pypi (stable and older). You should download the older Editor (from here https://github.com/dddomodossola/

[2020-02-05 11:26] pawelevans commented on #359
Thanks again for that! I managed to get a basic container set up with a couple of labels and buttons.
The button however is not updating the label.
Sorry for all the questions!

python3 myFirstApp.py
remi.server      INFO     Started httpserver http://0.0.0.0:8081/
remi.request     INFO     built UI (path=/)
127.0.0.1 - - [05/Feb/2020 11:22:49] "GET / HTTP/1.1" 200 -
remi.server.ws   INFO     conn

[2020-02-05 11:46] dddomodossola commented on #359
Don't be worried to ask, it is a pleasure to be helpful.
There is an error in your code. You written:
`self.container0.children['input0label'].set_text('Hello Input1!')`
But it should be:
`self.container0.children['input0Label'].set_text('Hello Input1!')`

in this text 'input0Label' you written lower case **L** instead of upper case

[2020-02-05 11:52] pawelevans commented on #359
Once again, that's a great help, also with the additional note, thank you very much!!!  I am enjoying use this gui tool and learning remi & python.
I don't seem to be able to stay on the button context in the gui to change something, as the context keeps switching away.  Perhaps I should open a new thread for each issue now I have got going. :-)

[2020-02-05 11:54] dddomodossola commented on #359
What you mean with "I don't seem to be able to stay on the button context in the gui to change something, as the context keeps switching away." ?

[2020-02-05 11:57] dddomodossola commented on #359
**IMPORTANT NOTE** I suggest you to first design and draw the entire GUI, and than change the code manually to develop the app logic.
This is because, when you open again a modified code with the editor, you can lost changes made manually. The editor is an automatic system and isn't able to maintain all your changes.

[2020-02-05 12:01] pawelevans commented on #359
I see, I will do it this way, thanks again :)

[2020-02-05 12:18] dddomodossola commented on #359
I understand, maybe it's a bug of the new version. You can select the button also from the list in the upper right panel, it should work

[2020-02-05 14:15] dddomodossola commented on #359
Bug fixed, thank you so much for reporting. If you download the most updated editor the button selection should now work.

[2020-02-05 14:32] pawelevans commented on #359
Could you tell me which is the best way to display a digital input or output status.  I basically want an LED or a small box to turn green or red to reflect the state.  Should I use some widget or an image?

[2020-02-05 14:45] dddomodossola commented on #359
Of course there are different possible solution, you can use a label or a button giving them a rounded corner.
My preferred solution is to use Svg. Put an Svg widget and an SvgCircle inside it. The svg circle can be filled with different color in case of active or unactive status.

[2020-02-06 09:11] pawelevans commented on #359
Thank you this is really nice, I will try the Svg widget.  Is there any documentation on how to use this, or should I go through all the examples to see if there is one being used?

[2020-02-06 09:59] dddomodossola commented on #359
Give it a try with the Editor, put an Svg widget and than, inside it, an SvgCircle. Unfortunately there is no documentation. If you find it difficult I can prepare an example.

[2020-02-06 10:24] pawelevans commented on #359
I have done that, but I get the following error:
  File "myFirstApp.py", line 210, in onclick_input0GetValue
    svgcircle0.set_fill('green')
NameError: name 'svgcircle0' is not defined

This is the code, generated by gui with a few amendments when clicking buttons (I am new to python :-) )
        svgcircle0.variable_name = "svgcircle0"
        svgInput0.append(svgcircle0,'svgcircle0')
        co

[2020-02-06 10:31] dddomodossola commented on #359
svgcircle0 has limited scope in the **main**. You should assign svgcircle0 as class member in the main function:

`self.svgcircle0 = svgcircle0`

later you can do:
[code]

look that I used **self.svgcircle0** instead of **svgcircle0**

[2020-02-06 10:36] pawelevans commented on #359
perfect!!!!!!
thank you

[2020-02-06 10:39] dddomodossola commented on #359
;-)

[2020-02-06 12:00] pawelevans commented on #359
making nice progress!!! :-) I am assigning a text field for the user to enter (hopefully) a valid IP address, which I then want to use to send COAP messages out to this device.  So far I have:

   def onchange_ipaddress(self, emitter, new_value):
        pass

    def onclick_input1GetValue(self, emitter):
        self.container0.children['input1Label'].set_text('Hello Input1')
        self.svgled

[2020-02-06 13:33] dddomodossola commented on #359
Not necessarly. The event can be used for different purposes. In your case the event is not required,
you can do `ipaddress.get_value()` where you need to get the ipaddress value.

[2020-02-06 13:50] pawelevans commented on #359
thanks for that, I'm not quite getting it though.  Are you saying I don't need the onchange_ipaddress event?  I want to allow the user to enter any IP into a text widget.  So am I correct in saying, just do for example something like:
client = HelperClient(server=(ipaddress.get_value(targetip), 5683)) - targetip being the text widget

[2020-02-06 14:13] pawelevans commented on #359
Thank you once again :-)

[2020-02-06 16:20] pawelevans commented on #359
another question if you don't mind ;-)
I am getting this error on trying parse a json response and display it on the screen:

remi.server      INFO     Started httpserver http://0.0.0.0:8081/
remi.request     INFO     built UI (path=/)
127.0.0.1 - - [06/Feb/2020 16:19:11] "GET / HTTP/1.1" 200 -
remi.server.ws   INFO     connection established: ('127.0.0.1', 59462)
remi.server.ws   INFO     handsha

[2020-02-06 16:29] dddomodossola commented on #359
When you set the content of a label you have to set a **string**. You are instead setting a **bool**. You should do:

self.container0.children['input0Label'].set_text( **str(** state **)** )

[2020-02-06 16:32] pawelevans commented on #359
You are a star, thank you!!!!!!!!

[2020-02-10 17:47] DaddyOh opened #360 "GUI Editor can't keep focus on instances list items and button"
2020.2.5 version of editor and remi

I'm new at this so forgive me if I'm doing something wrong. I'm trying to extend the example in the editor README file. the following behavior is observed when I have added a text box to the container.

When I click on the button in the gui it does not keep focus so I can't move it or resize it.

The same is true for items in the Instances List.

Running on Chr

[2020-02-10 18:21] dddomodossola commented on #360
Hello @DaddyOh , thank you for reporting.
This appears to be a bug recently reported and fixed. I suggest you to download and try the most updated editor version on master branch. Please let me know if this solve the problem.

[2020-02-10 19:03] DaddyOh commented on #360
Thanks.  That worked.

[2020-02-10 19:03] #360 closed

[2020-02-13 12:11] pawelevans commented on #359
Hi, I want to use a button widget which has the label text 'SET' and when the button is pressed the button shows 'CLEAR'.  Is this possible as it will be better than having two separate buttons?
Thanks.

[2020-02-13 12:17] dddomodossola commented on #359
Of course, in the event listener onclick of button you can do mybutton.set_text("CLEAR")

[2020-02-13 12:19] pawelevans commented on #359
super! ...and then clicking whilst it is set to 'CLEAR' will go back to 'SET'?

[2020-02-13 12:50] dddomodossola commented on #359
You have to store the information in a boolean flag, and decide if to show SET or CLEAR with an if statement

[2020-02-13 13:18] pawelevans commented on #359
that's great, thanks once again!

[2020-02-13 15:07] pawelevans commented on #359
is it possible to also change the background_color on click of button, I can see it's set with css_background_color on initialisation but not a method to set it after?

[2020-02-13 15:14] dddomodossola commented on #359
you can do it in the onclick event handler  the same way as initialization:

    mybutton.css_background_color = "rgb(255,200,0)" #values are respectively Red,Green,Blue

[2020-02-13 15:16] pawelevans commented on #359
thanks, I did it that way initially but it didn't work so thought there may be another means to do it, I will try again and see where my mistake is

[2020-02-13 15:24] pawelevans commented on #359
strange that I change the position of it with self.myButton.set_css_top = "200" and the button moved on click, but not the color despite setting it to rgb(255.255.255)

[2020-02-13 15:33] dddomodossola commented on #359
are you using dot "." or comma "," to separate values ? it must be "," comma

[2020-02-13 15:35] pawelevans commented on #359
yes definitely comma, I literally copied it from the initialisation and just changed the RGB value

[2020-02-13 15:44] dddomodossola commented on #359
try with this:

[code]

[2020-02-13 15:48] pawelevans commented on #359
Thank you for that, yes it worked of course. I will compare what I have and hopefully it will become obvious :)

[2020-02-13 16:15] pawelevans commented on #359
Your button also worked in my container, it was a typo, I had changed css bit to set when checking if there was a set function for color......and forgot to change it back, thanks for your help and sorry to waste your time

[2020-02-13 16:45] dddomodossola commented on #359
you are welcome ;-)

[2020-02-17 15:17] pawelevans commented on #359
hello again, I am sending a chunk of text which has linefeeds - to label using the set_text method
however, the newlines are not in the output
is there a way to achieve?
thanks!

[2020-02-17 16:10] dddomodossola commented on #359
Hello @pawelevans . You have to use:

    mylabel.css_white_space = "pre"

and it will work.

[2020-02-17 16:10] pawelevans commented on #359
thanks so much! :+1:

[2020-02-18 17:16] PySimpleGUI opened #362 "[Bug - Regression problem ] Label Widget lost set_layout_orientation method. Worked fine in 2020.1."
This code previously worked:
[code]

but after a recent Remi upgrade it crashes with this error

[code]

[2020-02-18 17:38] PySimpleGUI commented on #362
I found one of the places I may have picked up the usage of this call:
https://github.com/dddomodossola/remi/blob/6a7be6e468f948fba8ba39acacb70250d0fd7651/examples/minefield_app.py

When I try and run it, it also crashes when trying to use this `set_layout_orientation` method.  Fixing those errors didn't fix everything however as it also crashes complaining that an attribute `append` disappeared.

[2020-02-18 18:06] dddomodossola commented on #362
Hello @PySimpleGUI I always try to keep backward compatibility, but unfortunately sometimes it is not possible, please excuse me for this problem. The error you are getting is caused by an update where I decided to explictly distinguish between "containers" and "non containers" widgets. This caused the problem you are getting because the Label is not a container, it is illogical to append a widget

[2020-02-18 18:24] PySimpleGUI commented on #362
You don't need to do anything with PySimpleGUIWeb code!  I've got that handled.  Just tell me what I need to do (which you have.... remove the call).

I think I got the code from the Minesweeper game or some other Remi sample code.  I'm sure I wouldn't have come up with it myself.  The Minesweeper game now also crashes with the append not working. I don't know if that's going to affect my code yet

[2020-02-18 19:52] dddomodossola commented on #362
The remi update is vast and different widgets were affected by changes. I suggest to:
- use Container in place of Widget in PSG
- search for *append* in PSG and verify it is used only for remi containers (Container, VBox, HBox, Svg, SvgGroup,  ListView, DropDown, Table, TableRow, TableItem, TabBox, Dialogs, Menu, MenuBar, MenuItem, TreeView, TreeItem, )
- search for *set_layout_orientation* in PSG

[2020-02-19 01:42] PySimpleGUI commented on #362
Looks like everything pretty much works.  I checked where I'm using append and they are all containers.  I don't use set_layout_orientation anywhere at the moment, but may want to use it in the future depending on how I port over the "element justification" feature for Columns.

Thanks for the quick help!

![image](https://user-images.githubusercontent.com/46163555/74793627-dde7a180-528e-11ea-891b

[2020-02-19 06:40] dddomodossola commented on #362
You are my priority Mike

[2020-02-20 18:00] Guohao91 opened #363 "Add my control panel to a web app"
Hi, Guys!
Just wonder is that possible to put my the control panel on to webpage? This app is made by Tkinter object, works fine so far to control my drone.So please Davide Rosa or anybody else, can help me this out or any tip like which example I can reference to?

![image](https://user-images.githubusercontent.com/54188732/74963720-34b0c080-53e0-11ea-83db-2967845a69d2.png)
here is a part of my c

[2020-02-20 18:03] Guohao91 commented on #363
To put this panel onto web, or make these buttons functional inside a remi.gui's script.

[2020-02-20 18:27] dddomodossola commented on #363
Hello @Guohao91 , I can help you. I can't promise to do it in short time because I'm really busy. However it is something simple.
It is not possible to embed a tkinter gui in a webpage, but it can be rewritten in remi.
Please provide your code in order to rewrite the gui with remi.

[2020-02-20 19:06] Guohao91 commented on #363
@ yeah yeah, you know what bru. I can understand that is sth simple, but i am not that familiar with javascript and GUI application, because all of the functions I've built up there, so....I am a little embarrassed Lol.
So my script works all fine, no problem, just prompted by dronekit API.
Anyways Thanks Sir!
[blind2.zip](https://github.com/dddomodossola/remi/files/4232521/blind2.zip)
Waiting for

[2020-02-20 19:12] Guohao91 commented on #363
@dddomodossola
 hi, prof. Could you please set those buttons separately into 3 subcontainers? Because I don't have knowledge to design layout, I can learn it by your code at the same time.
Appreciate it!

[2020-02-21 00:59] PySimpleGUI commented on #362
I just released version 0.36.0 of PySimpleGUIWeb.  I decided to "pin" it to the Remi release 2020.2.5.  I won't be getting the latest release of Remi this way which is a good and a bad thing.  I can't leave it open to picking up the latest Remi release as I'm not sure if it'll be compatible or not.  I'll get new Remi releases, test them, then change the setup.py file to allow the later version of

[2020-02-21 00:59] #362 closed

[2020-02-21 07:25] dddomodossola commented on #362
Hello @PySimpleGUI , I release remi on pypi and I create a new git tag. I don't know if github notifies users on new git tag. I can personally notify you on changes.
Do you have an example about the print on widgets?

[2020-02-21 08:39] dddomodossola commented on #363
Hello @Guohao91 ,
Here is the script adapted for remi. I'm unable to test it because I don't have the dependencies installed. But however it's a good start point for you.
[blind2_remi.zip](https://github.com/dddomodossola/remi/files/4235041/blind2_remi.zip)

Regards

[2020-02-21 15:18] Guohao91 commented on #363
@dear god, you are amazingly fast!
Thanks Davide, give me your email you'd like to send you a gift card.
![image](https://user-images.githubusercontent.com/54188732/75046522-3ab3a980-5493-11ea-965d-2e7e24f5f56a.png)

But just here is a small issue I think, 'str' doesn't have the 'tk' attribute? So would you please take a look at it for a while?

[2020-02-21 15:19] Guohao91 commented on #363
Connecting to vehicle on: /dev/ttyACM0
INFO:remi.server:Started httpserver http://0.0.0.0:8080/
INFO:remi.request:built UI (path=/)
ERROR:remi.request:error processing GET request
Traceback (most recent call last):
  File "/home/clickmox/.local/lib/python2.7/site-packages/remi/server.py", line 595, in do_GET
    self.set_root_widget(self.main(*self.server.userdata))
  File "blind2_remi.py", line 2

[2020-02-21 15:33] dddomodossola commented on #363
@Guohao91 I forgot to remove `from Tkinter import *` , remove it and try again

;-)
my email is dddomodossola@gmail.com

[2020-02-21 15:49] Guohao91 commented on #363
@dddomodossola
it is solved!
but....
![image](https://user-images.githubusercontent.com/54188732/75049181-c3344900-5497-11ea-8d6d-be2fe1a0dbc4.png)

the buttons doesn't respond actually....

[2020-02-21 16:07] dddomodossola commented on #363
Try with this:
[blind2_remi.zip](https://github.com/dddomodossola/remi/files/4236910/blind2_remi.zip)

unfortunately I can't try it. Let me know if it works

[2020-02-21 16:17] Guohao91 commented on #363
@dddomodossola
well, it is all done! You terrific monster!

[2020-02-21 16:22] dddomodossola commented on #363
@Guohao91 😉

[2020-02-21 16:28] #363 closed

[2020-02-21 16:45] PySimpleGUI commented on #362
Here's some demo code to show the `print_to_element` capability that was added to the tkinter port. I have not cross-ported the code to the other PySimpleGUI ports yet.  I wanted to make sure it worked well for tkinter first.

One of the prints in this example uses the color parameter, which of course is not part of a normal print statement.  You can add the 2 line `print` function to any program

[2020-02-21 16:52] dddomodossola commented on #362
Thank you so much @PySimpleGUI
I will look about its implementation and I will port it to PSGW.

[2020-02-21 16:54] PySimpleGUI commented on #362
It's OK, I'll port it over.  There are a few other things I need to get into there too.  It won't be a big deal to port as the code uses the high level update.  The only thing I'm unsure about is if I've done anything with colors and multiline with Remi. I'll check on that.

[2020-02-21 16:55] PySimpleGUI commented on #362
Oh, Matplotlib support... that's the next thing I want to get working with PySimpleGUIWeb.  I'll check the issue I filed on that to see where things are.

[2020-02-21 17:40] dddomodossola commented on #362
Do you mean you will implement print function by yourself?

[2020-02-21 17:42] PySimpleGUI commented on #362
Yes, the `print_to_element` I'll port over myself as it's using high level PySimpleGUI  calls.

Here's the entire code for that function.  It relies on the Multiline Element's update method to do the work.

[code]

I'll move it over and try it out.

[2020-02-21 17:47] PySimpleGUI commented on #362
Ah, I need some help perhaps with my multiline update.

I am able to set the text and background colors for a multiline element (built using the `TextInput` Widget).  What is needed to get the PySimpleGUIWeb port working like the tkinter version is the ability to set the text and background colors for individual characters rather than the entire wdiget.

You can see the parameter called `text_colo

[2020-02-21 18:49] dddomodossola commented on #362
I can create something like this, a multiline text widget that accepts pieces of text with different colors, but I doubt it could be editable. Is it ok for you?

[2020-02-22 00:17] PySimpleGUI commented on #362
It doesn't need to be editable as there's an "output only" version of the multiline.  It needs to be selectable/copyable.  That seems to be the bigger thing people do.  Many people use them for logging output and other output that they will perhaps copy and paste into something else.

It needs the kinds of interfaces that allow appending and keeping the view scrolled to the end, two challenges you

[2020-02-22 14:58] PySimpleGUI commented on #307
I'm struggling with autoscrolling when appending output once again.

Here's my `update` method.  It's called when the user wants to output to a scrolling `MultilineOutput` element.

[code]

The problem is that the text is appending to the output just fine.  The problem is that the view isn't scrolled to the bottom.

You can test this by running the PySimpleGUIWeb.py file.  Running it brings up a t

[2020-02-22 19:35] dddomodossola commented on #307
Hello @MikeTheWatchGuy which PSGW are you using? The master branch on github?

[2020-02-22 20:58] PySimpleGUI commented on #307
Yes, the one checked into the master branch http://www.PySimpleGUI.com is what I'm running.

[2020-02-22 22:24] dddomodossola commented on #307
Ok, I will test it right now. I'm sure it was fixed, maybe we lost the fix.

[2020-02-22 23:09] dddomodossola commented on #307
Hello @PySimpleGUI, here is the corrected MultilineOutput version:

[code]

However there are some notes:
1. The MultilineOuptut takes the *autoscroll* parameter in constructor AND also in the Update method. Why this parameter appears in two places?
2. PSGW has MultilineOutput and Output classes. These are almost identical. Why this duplication?
3. You have not included the Output element updated

[2020-02-22 23:35] PySimpleGUI commented on #307
Hmmm... I'm unsure about the line of code:

[code]

I would have never written that line as I don't recall ever writing a "convert to bool" type of structure using "is True".  The last place I got this code was from earlier in this listing.

I do see something similar in the tkinter code, just written differently.  I would have thought that the one set when the element is created would be the DEFA

[2020-02-22 23:38] PySimpleGUI commented on #307
Oh crap... it was a bug in my code!  What the heck happened???  Wow... I'm sorry to have sent this your direction.  I'm confused now and will track down what happened.  I don't get it.

[2020-02-22 23:47] PySimpleGUI commented on #307
![image](https://user-images.githubusercontent.com/46163555/75100979-ac7b1880-55a3-11ea-8795-e62a05abc4f0.png)

I appear to have made the bug when I poured some 900 additions to the file!  DOH!

I'm sorry this one is on me.  I don't know why I would have even added it, but there must have been a reason.  Now I just need to make sure it does the right thing.

[2020-02-23 00:03] PySimpleGUI commented on #307
This is the way the code should have read:

[code]

and then referenced down further

[code]

This makes the initial setting the default and the user can override the default in a single update call.

[2020-02-23 02:47] aidlearning opened #364 "how to show image use Remi and OpenCV ?"
I can use the Remi and OpenCV to capture videos 👍 (https://github.com/dddomodossola/remi/issues/323)
but I cannot load local image to show it using the Remi and OpenCV, how can I do?
can u give me a example?

[2020-02-23 07:22] dddomodossola commented on #307
@MikeTheWatchGuy no problem, it can happen, the important thing is that it is fixed now ✌️

[2020-02-24 06:25] dddomodossola commented on #364
Hello @aidlearning ,

Look at this source https://github.com/dddomodossola/remi/blob/master/editor/widgets/toolbox_opencv.py .
Here you can find the class OpencvImRead. ;-)

[2020-02-24 07:26] aidlearning commented on #364
I found that OpencvImRead is a class to read one omg,how to show img using it?

[2020-02-24 08:07] dddomodossola commented on #364
Just setup an image filename for it. Here is a simple example made with the remi GUI Editor:

[code]

[2020-02-24 08:10] dddomodossola commented on #364
In this second example the image is transferred to the Threshold widget. The processing chain is connected by the event on_new_image. In particular the OpencvImRead.on_new_image -> is connected to -> OpencvThreshold.on_new_image_listener.

[code]

And so, when you update the image, the threshold gets updated too.

[2020-02-24 08:43] aidlearning commented on #364
it‘s really cool...I will the new opencv version to my project....thank u!

[2020-02-24 08:47] dddomodossola commented on #364
you are welcome ;-)

Consider that you can add other custom widgets to the Editor to expand its functionalities. Just mimic what already done for the opencv widgets.

[2020-02-24 08:54] aidlearning commented on #364
I get it ...I will custom my widgets to the Editor, thank u again!

[2020-02-24 08:54] #364 closed

[2020-02-25 22:54] bielaszewski opened #365 "App.onpagehide not being called under certain conditions"
An app overrides App.onpagehide() ...

1) When the browser is on the same host as the remi,  the onpagehide is called as expected when the browser tab is closed.  ( FireFox on Linux )

2) When the browser is run on a separate host from remi, the onpagehide method is NOT being called when the browser tab is closed. ( Silk browser on a Kindle tablet).

Browser issue or remi?  I dont know.
 Update: I

[2020-02-27 22:27] #365 closed

[2020-02-27 22:29] bielaszewski commented on #365
Update: I tried condition#2 with a laptop and onpagehide IS called when the remi tab is closed.
That exhausts my supply of alternate hardware to try this on.
I AM ASSUMING IT IS SOME WEIRDNESS WITH THE SILK BROWSER ON KINDLE and will close the issue.

[2020-02-28 06:40] dddomodossola commented on #365
@bielaszewski thank you for the further testing. Yes it have to be a problem with the kindle browser. Unfortunately I have not a kindle and so I can't throubleshoot. What you were trying to achieve with onpagehide?

[2020-03-01 14:43] Counterdoc opened #366 "Unicode Characters not working anymore"
Hi @dddomodossola ,

I just tested an old application (2 years) that I wrote using REMI. I am using a fresh installation with REMI now, but I recognized that unicode characters are not being displayed correct anymore.

For example for temperatures when using `&deg; C`

It was working fine in the past. I just tested it with a simple html page and it works. So no browser issue.

Thanks
Marius

[2020-03-01 16:56] dddomodossola commented on #366
Hello @Counterdoc ,
You should use the special character ° instead.
Regards

[2020-03-01 17:09] Counterdoc commented on #366
That was easy... it works! Thank you for the quick help.

[2020-03-01 17:09] #366 closed

[2020-03-04 16:56] bielaszewski commented on #365
DR, sorry for the slow response, my github account needs an email address
update.   A lot of code has flowed under the bridge since this issue
cropped up.   I think i was going to use the pagehide event to inform other
views to update themselves.  My solution was to have all views share the
same data, which is cleaner.

FYI, I am using remi/ kindle browser as a touchscreen remote for
controlling a

[2020-03-05 09:36] #359 closed

[2020-03-05 09:37] #358 closed

[2020-03-05 09:40] dddomodossola commented on #365
Thank you a lot @bielaszewski ! I'm happy you are appreciating remi. About PySimpleGUI, it is improved day by day, is a really good alternative ;-)

When you get your project done, please share some screenshot. Have a good work !

[2020-03-07 17:05] PySimpleGUI opened #367 "Extra Tab problem - started with 2020.1 release"
I hate to post PySimpleGUI code instead of Remi code, but it's hard for me to write Remi code, especially for a feature like tabs.

I first see the problem with Remi 2020.1

It works fine with 2019.4

Here's the test code you can run to see the problem:

[code]

It was reported by a PySimpleGUIWeb user:

https://github.com/PySimpleGUI/PySimpleGUI/issues/2686

[2020-03-07 17:56] dddomodossola commented on #367
No problem @PySimpleGUI , I will fix this soon!

[2020-03-08 10:13] dddomodossola commented on #367
Hello Mike @PySimpleGUI , the problem is caused by an unwanted append to the TabBox widget (inside PSGW). In particular, in function **PackFormIntoFrame** at line 5151, you should prevent to  add something to TabBox. So you should add the following condition:

[code]

And the problem is fixed ;-)

[2020-03-10 19:25] mtcabeza opened #368 "TabBox Formatting"
When adding to a TabBox,   certain tab counts will cause a second row of tabs to be created.
For example tab boxes containing 6 and 7 tabs exhibit this issue.
It appears to be due to float calculations f in TabBox.resize_tab_titles() causing the total width of all tabs to get slightly > 100%

The attached program demonstates the issue.  It takes an int on the command line which tells it how many t

[2020-03-12 14:46] mtcabeza commented on #368
Here is a screenshot of the layout defect.  Tab#6 is in a second row of tabs.
![tab_layout_defect_screenshot](https://user-images.githubusercontent.com/3891556/76533431-47de0b80-6435-11ea-8c29-69ffaa4af92e.png)

Here is the mythical one line change that i applied to my local copy of gui.py
to fix it.

[tab_layout_defect_screenshot-hack.txt](https://github.com/dddomodossola/remi/files/4324785/tab_l

[2020-03-12 14:51] dddomodossola commented on #368
@mtcabeza thank you! I will look into this soon. Excuse for the late reply, it's a busy period

[2020-03-12 15:25] mtcabeza commented on #368
No rush.  I have patched my local copy of gui.py.  I was just adding info that should have been provided with the original issue. Regards!

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Thursday, March 12, 2020 7:51 AM, Davide Rosa <notifications@github.com> wrote:

[2020-03-16 08:23] Eothred opened #369 "Problems with asciiart of sub-widget"
I am not sure if this is correct use of the API or not, but at least my code seem to not correctly make use of set_from_asciiart(). I have made a somewhat minimal example below:

[code]

Now I am expecting to see the three labels according to the layout defined in the asciiart, but instead I just get a vertical list of the 5 labels in the dictionary. Am I misunderstanding something?

My colleague

[2020-03-16 08:31] dddomodossola commented on #369
Hello @Eothred, thank you a lot for reporting. The TabBox widget forces the css 'display' attribute of the appended widgets. This causes that GribBox (that must have 'display':'grid') gets the attribute set to 'block'. This causes wrong layouting.
The solution is to append the gridbox to a container, and then, the container to the tabbox.
The widgets tree would be:

    TabBox
        Container

[2020-03-18 00:43] marcelomanzo opened #370 "Grid layout not working"
Hello,

My grid layout is not behaving properly.

I tried both methods set_from_ascii and define grid it seems that they are not being applied.

I'm using the latest version from the repository.

This is the output:
![image](https://user-images.githubusercontent.com/12878783/76914207-e92eec80-688f-11ea-8e83-ec574799e5c7.png)

I was expecting:
Label - Slider
Label - Slider
....

`    def motionTest

[2020-03-18 00:44] marcelomanzo commented on #370
/duplicate of 369

[2020-03-18 00:44] #370 closed

[2020-03-18 01:03] marcelomanzo opened #371 "Custom Slider"
Do you have an example on how to create a custom component?
I would like to create a custom slider that looks like the ios one from the material-ui
https://material-ui.com/components/slider/

[2020-03-21 22:18] dddomodossola commented on #371
Hello @marcelomanzo ,

Here is an example for you

[code]

[2020-03-28 01:17] marcelomanzo commented on #371
This sounds promising, thanks a lot!
![image](https://user-images.githubusercontent.com/12878783/77811404-54d33f80-7070-11ea-9ffc-33b1c2b66619.png)

[2020-03-28 01:17] #371 closed

[2020-03-28 01:59] marcelomanzo opened #372 "Slider.set_value does not invoke callback"
Hello, when I drag the slider it invokes the callback function properly.
But when I do it via code in the line         self.testSlider.set_value(1)
it does not invoke the callback, is it a bug?

Thanks a lot BTW, good job so far!
----------------------------------------------------------------------
`
import remi.gui as gui
from remi import start, App

class MyApp(App):
    def __init__(self, *arg

[2020-03-28 02:04] marcelomanzo commented on #372
One more thing, it only invokes the callback function once I release the mouse, it it possible to invoke the callback function every time I drag the slider, in PyQt its called tracking (setTracking(True))

This is extremely useful when controlling motors with RaspberryPI or Arduino, it allows you to control the motor up and down without releasing the mouse.

[2020-03-31 08:27] dddomodossola commented on #372
Hello @marcelomanzo ,

It is normal that the callback is not triggered when you call set_value, typically events are generated on user interaction. However you can modify the code to trigger it also on set_value.

This is the code to call the callback on drag:

[code]

[2020-04-14 15:18] m-kareem opened #373 "[Question] how to make a disabled object and enable later"
Hi Davide, all,

Thanks once again for your kind support. I will ask my questions here in git repo from now on as you have advices, rather than reddit.

I am trying to build a web-based GUI with Remi, similar to this dummy one that I have built with “QT for WebAssembly": http://petra.phys.yorku.ca:5000

1) I need some objects to be initially grayed out, and upon the user's action, get enabled. I t

[2020-04-14 15:50] dddomodossola commented on #373
Hello @m-kareem , here is an example for you

[code]

For the tabs, use the TabBox widget.

Regards ;-)

[2020-04-14 17:14] m-kareem commented on #373
Thanks a lot Davide for your prompt response.
When I disable a dropdown object, it is not getting grayed out, but it is correctly bing disabled. Is it a known issue?

One more quick question. How do I make a solid line border around a container. I guess it should be via style when defining the container like:
gui.Container(width=400, layout_orientation=gui.Container.LAYOUT_HORIZONTAL, style={'disp

[2020-04-17 17:03] m-kareem commented on #373
Hi @dddomodossola ,

I also found out that the **checkbox** object is not getting disabled. Is there any other method for disabling it, or it is not supported yet in remi?

Thanks,

[2020-04-17 17:06] m-kareem opened #375 "[Question] how to draw a border around a container"
Hi @dddomodossola , all,

I am wondering if there is any way to make a border around containers?
I tried to use style={'border': '2px'} in the object definition, but it is just being ignored. Perhaps I am missing something

Thanks,

[2020-04-18 12:40] dddomodossola commented on #375
Hello @m-kareem ,
The border definition have to be like this:
style={'border':'2px solid black'}
and it will work ;-)

[2020-04-18 12:40] #375 closed

[2020-04-18 12:57] dddomodossola commented on #373
In order to disable a Checkbox:
mycheckbox.set_enabled(False)

In order to disable a CheckboxLabel:
mycheckboxlabel._checkbox.set_enabled(False)

In order to disable a container:
mycontainer.style['pointer-events'] = 'none'
mycontainer.style['opacity'] = '0.4' #this is to give a disabled apparence

Regards ;-)

[2020-04-18 12:57] #373 closed

[2020-04-18 12:57] #372 closed

[2020-04-18 13:28] #369 closed

[2020-04-18 13:30] #355 closed

[2020-04-19 04:23] m-kareem commented on #373
Thanks @dddomodossola  for your kind support.

In order to re-enable the container, shall I do:
**del subContainerMiddle_2.style['pointer-events']**

or there is a more proper way to do this.

And by the way, where all these things are documented? I could not find it in the "Remi Documentation Release 1.0.0". Is there any more up-to-date one?

Best,

[2020-04-19 09:07] dddomodossola commented on #373
Hello @m-kareem that's the right way. However unfortunately there is no documentation about this. There is only the readme file and the example. And of course you can ask me for help. ;-)

[2020-04-20 13:17] m-kareem opened #376 "[Question] set_text method for gui.Table"
Hi @dddomodossola,

thanks again for your kind support. Indeed I am making great progress in my project with your help and support.

I have the following question:
I have a realtime data coming from an SQL database in every update cycle. I would like to have a dynamic table (each cell value gets updated in every update cycle).
I can do this via labels, defining the label in the **main(self)** e.g.

[2020-04-20 14:17] m-kareem commented on #376
Sorry for the spam, I guess I found a useful example here:
https://github.com/dddomodossola/remi/issues/321#issuecomment-504353981

[2020-04-20 14:18] dddomodossola commented on #376
No problem ;-)

[2020-04-21 02:26] #376 closed

[2020-04-21 02:36] m-kareem opened #377 "[Question] Need a log in page"
Dear @dddomodossola,

again have to bother you with another question, and thanks in advance for your amazing support.

For my web-guy, I need to have a login page to only allow authorized users.
In the meanwhile I need to restrict the GUI to be used by only ONE user (since it is going to control some hardwares in a lab). Any idea, suggestion or example code would be very much appreciated.

PS: by

[2020-04-21 08:01] dddomodossola commented on #377
Hello @m-kareem

Here is an example for you that allows user authentication. You must run your application with start parameter 'multiple_instance'=True. The performances appears to be perfect for me. It is grafana that takes a long time to load, and it is not caused by Remi. Maybe you can replace grafana with an svg remi plot.

[code]

[2020-04-22 07:55] TylerDKnight commented on #37
Environment: I ran into this issue trying to set up a repo in a Juypter notebook on a Google Cloud VM.

Problem: `setup.py build` and `setup.py install` were failing because of permissions issues.

My specific output was:
`jupyter@tensorflow-2-vm:~/flownet2-pytorch/networks/resample2d_package$ python setup.py buildrunning build
running build_ext
building 'resample2d_cuda' extension
creating build/

[2020-04-22 08:04] dddomodossola commented on #37
@TylerDKnight thank you a lot! ;-)

[2020-04-23 14:39] m-kareem commented on #377
Hi @dddomodossola ,
thank you very much for this nice example. I am working on a user management backend, to let the admin register new users and store the user dictionary in a binary dictionary file with encrypted passwords. As soon as I finish this, I would be happy to share it with you if you are interested.

For now, I have a question: how to hide the typed text in the password field (as dots

[2020-04-23 15:48] dddomodossola commented on #377
Hello @m-kareem ,

Thank you! It would be cool to see your backend password example ;-)

Here is the password input:

[code]

[2020-04-27 19:49] m-kareem commented on #377
Hi @dddomodossola,

As promised, here is my user_manager script which is implemented in your login example. The script is encrypting the passwords in a binary file and decrypting it in the login time.

I have also expanded your example with add / edit / delete users from administration panel.

Use admin/admin for initial login.

Please let me know what do you think. Definitely the code needs some

[2020-04-28 07:49] dddomodossola commented on #377
Thank you a lot for sharing. I will try this code today ;-)

[2020-04-29 02:26] natandiasm opened #379 "Scroll list widgets"
I'm not able to create a scroll for a list of goals, I'm putting them in the Vbox but it doesn't create the scroll

[2020-04-29 22:19] dddomodossola commented on #377
@m-kareem Cool example, Thank you!
Just one advice. I'm not a security expert, however it is advisable to not decrypt an encrypted password to check if it matches with the newly typed one. It is better to cypher the newly typed and check if it matches with the stored one.

Cheers

[2020-04-30 14:42] m-kareem commented on #377
Thanks @dddomodossola  for looking at my example.
This is a great advice, thanks a lot. I will work on this.

Cheers

[2020-04-30 14:56] dddomodossola commented on #379
Can you please provide more info? Maybe the script code and an image indicating the problem.

[2020-05-03 16:04] jimbob88 commented on #306
@dddomodossola I thought I would leave my 2 cents here.

I personally implemented this in my `wheelers-wort-works-online`:

[code]

[2020-05-03 16:39] dddomodossola commented on #306
Thank you a lot @jimbob88 !

[2020-05-05 05:58] Eothred opened #384 "TabBox in OSX"
I wrote the following test app (a minimal version of my full app that still shows our issue):

[code]
Now this seems to work just fine on my computer (4 browsers tested), but on my colleagues OSX box, the buttons are overflowing the tabs if she use Firefox or Chrome. Safari shows the layout as expected. Screenshot below shows left to right, Firefox, Safari, and Chrome:
![Test_differentBrowsers](ht

[2020-05-05 07:14] Eothred commented on #384
No need to write an example apparently. My colleague also tested the `examples/tabbox.py` from the remi repository. It has the same problem.

[2020-05-05 08:51] dddomodossola commented on #384
Hello @Eothred,
Unfortunately I have no OSX devices to test this. However looking at the images (thank you for providing) I can see that the tab title expands to the bottom. It seems strange.
Can you please inspect the webpage and look for css margins? Maybe the remi css is not so strictly defined, permitting some browsers to freely define some parameters.

[2020-05-07 13:21] #379 closed

[2020-05-08 15:32] giacomomarchioro opened #385 "Editor not working?A ttributeError: module 'remi.gui' has no attribute 'Container'"
Thanks for the amazing tool.
I am trying to use the editor using this command in OSX 10.11.3 Python 3.6.8, but I got the following error:

[code]

Thanks for your help!

[2020-05-08 15:38] dddomodossola commented on #385
Hello @giacomomarchioro ,
Maybe you have installed an older remi version. Try to update it and run the editor again.
Verify that you are installing remi on the same python version that you are using to run the editor.
Please let me know if this works for you ;-)

[2020-05-08 15:47] giacomomarchioro commented on #385
Hi, thanks for the quick reply. I can't find the remi.__version__ attribute but I've re-installed and also try to clone and make it run from the folder or some conflict with other version of remi gui installed previously. I'll let you know if I manage to solve the issues thanks again.

[2020-05-08 16:04] dddomodossola commented on #385
You are welcome ✌️

[2020-05-08 17:55] jimbob88 opened #386 "[Question / Enhancement] Have each web browser tab from one user create a separate instance"
# The concept
For example, let's take the [session_app.py](https://github.com/dddomodossola/remi/blob/master/examples/session_app.py) example.

When first opening it, it looks like so:
![image](https://user-images.githubusercontent.com/9913366/81430962-46d90a00-9158-11ea-936c-b920c62232e7.png)

And in the log we see:

[code]

And after login it looks like so:
![image](https://user-images.githubuse

[2020-05-08 19:40] dddomodossola commented on #386
Hello @jimbob88 , this parameter already exists. It is the *multiple_instance*. Do:

    start( MyApp, multiple_instance=True )

Regards.

[2020-05-08 19:50] jimbob88 commented on #386
Hi, thanks for your reply!

This didn't seem to work for me...

If you take the widgets_overview_app example, that has `multiple_instance=True`; however, if we open 2 instances of it.

If we look at the first tab:

![image](https://user-images.githubusercontent.com/9913366/81443450-57e04600-916d-11ea-887b-0502ae770504.png)

And the second tab:

![image](https://user-images.githubusercontent.com/99

[2020-05-08 20:29] dddomodossola commented on #386
You have to open 2 different browsers, like chrome and firefox, instead than 2 tabs.

[2020-05-08 20:38] jimbob88 commented on #386
Thanks @dddomodossola that does work; however, for my application isn't perfect. I was wondering if that feature could work for just FireFox. Let's having 10 tabs for the same application opened.

I did try with a User-Agent Switch, but that didn't work... Any ideas to get multiple instances to work for 10 tabs of the same application?

Thanks in advance,

James

[2020-05-08 20:58] dddomodossola commented on #386
Unfortunately there is no solution for this. However I don't understand the motivation. Why you need to open 10 instances of the same application? Maybe you just need the TabBox widget?

[2020-05-08 21:07] jimbob88 commented on #386
@dddomodossola  Yeah i know it's a bit weird, but the reason is that my program allows you to have a lot of recipes and one often needs to reference another.. At the moment the program runs in tk windows and I personally think it would be cleaner if the user were to be able to access the site with multiple recipes open on each tab of the web browser...

I guess I could implement this with tabbox a

[2020-05-08 21:33] dddomodossola commented on #386
I understand, however I really don't have a solution for this. The TabBox or something similar is the only way.

[2020-05-08 21:38] jimbob88 commented on #386
I was looking through the code to see if i could come up with an idea, and i noticed that on line 276 `parse_parametrs`was spelt wrong, just a heads up...

Anyway thanks very much for your help! Love your project, keep at it!

[2020-05-08 21:40] dddomodossola commented on #386
Thank you a lot 😉

[2020-05-15 11:27] natalia-milas commented on #384
Hi, so we managed to narrow down the issue a bit. Sorry because I won't be able to explain it super professionally but it is connect to javascript missing (or "forgetting") some layout settings when creating the page.  We could get everything working when openning the html file and fixing by hand (basically settign the element height to "auto" instead of 100%) but the problem would show up again o

[2020-05-15 13:32] dddomodossola commented on #384
Hello @natalia-milas thank you a lot for helping fix this issue.
So, you modified html changing element height from '100%' to 'auto'. Wonderful. But of course reloading the page it refreshes and the error appears again.

Basically we need to change the remi css. By default a script loads the standard remi css, but there is a way to define a different css file allowing to customize the application

[2020-05-15 13:52] natalia-milas commented on #384
So here is everything I coudl collect (tell me if you need more, I can run it no problems!)

Images here are the same scrip before and after I changed the height parameters (which I am not 100% sure to which elements it belowngs, but I highlighted it with the red box).
![Before](https://user-images.githubusercontent.com/29061953/82057667-fc114200-96c3-11ea-894d-c758703b067a.png)
![After](https://u

[2020-05-15 13:54] natalia-milas commented on #384
I am also uploading the code that does work without changes (modification of the test script @Eothred  poster when he opened the issue) but showing the flushed left buttons.
`import remi.gui as gui
from remi import start, App
class MyApp(App):
    def main(self):
        self.main_widget = gui.TabBox(width="100%", height="auto")

        button_run = gui.Button("Run scan", width=200, height=30, ma

[2020-05-15 20:31] dddomodossola commented on #384
Perfect information reporting. I found that the 'height:100%' is hardcoded in remi. Can you please try the following code?

[code]

If confirmed I will update remi to fix the issue.

Thank you in advance.

[2020-05-18 07:01] natalia-milas commented on #384
Hi Davide,

So the ne you sent did not work. However I played around a bit and with a small modification (below) I managed to get it going:

import remi.gui as gui
from remi import start, App

class CustomTabBox(gui.TabBox):
    def resize_tab_titles(self):
        tab_w = 100.0 / len(self.container_tab_titles.children.values())
        for l in self.container_tab_titles.children.values():

[2020-05-18 07:04] natalia-milas commented on #384
I also went and looking into the TabBox implementation itself and I think if you change on line 1675 on the code itself:
from: l.set_size("%.1f%%" % tab_w, "100%")
to : l.set_size("%.1f%%" % tab_w, "auto")

shoudl fix the problem and not change the whole layout. Here is the result!

![Screen Shot 2020-05-18 at 09 02 17](https://user-images.githubusercontent.com/29061953/82183569-86d18700-98e6-11ea

[2020-05-20 07:57] dddomodossola commented on #384
Modified remi according to the proposed solution. Thank you a lot @natalia-milas and @Eothred ;-)

[2020-05-20 08:00] dddomodossola commented on #385
@giacomomarchioro Have you fixed the problem? How is it going?

[2020-05-20 13:57] giacomomarchioro commented on #385
I removed everything, I tested again today and used the project download folder. Now it works. Thanks again for the tool. Best regards!

[2020-05-20 13:57] #385 closed

[2020-05-25 06:15] MohamedAlFahim opened #387 "Create GitHub Page"
See https://pages.github.com/
The GitHub page could include documentation, examples, and other information, all in an easy-to-navigate fashion.

[2020-05-27 16:10] m-kareem opened #389 "[Question]: Need to print the terminal messages in the GUI textInput"
Dear @dddomodossola,

Regarding the project I am working on,  I have been asked by the collaboration to somehow bring all the printed out messages in the terminal to a status box in the GUI, for example in the gui.TextInput object. Any quick example or suggestion?

Your support and advices would be very much appreciated

Regards,

[2020-05-27 20:34] dddomodossola commented on #389
@m-kareem here is an example for you:

[code]

[2020-05-27 20:49] m-kareem commented on #389
Thanks @dddomodossola  for your commitment to support the users so promptly.

The messages that I need to show in the TextInput box is something like:
remi.server      INFO     Started httpserver http://127.0.0.1:64445/
remi.request     INFO     built UI (path=/)
127.0.0.1 - - [27/May/2020 16:44:26] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [27/May/2020 16:44:26] "GET /res:style.css HTTP/1.1" 200 -
rem

[2020-05-27 21:31] dddomodossola commented on #389
Here it is:
[code]

just redirected also sys.stderr

[2020-05-27 23:28] m-kareem commented on #389
You are amazing as usual, thanks a lot @dddomodossola

[2020-05-27 23:28] #389 closed

[2020-05-29 07:34] Eothred commented on #384
Thanks both for following up on this! I close as I understood from Natalia that it works now. I also checked that this did not cause any issues on my existing environment.

[2020-05-29 07:34] #384 closed

[2020-06-03 16:08] PySimpleGUI commented on #306
I [still] haven't implemented this yet, but think it would be good to do because I made a Sudoku game board that works on the other 3 ports very nicely

![sukoku-wx](https://user-images.githubusercontent.com/46163555/83658608-6ebd6100-a590-11ea-9b3b-d236300dca14.png)
![sukoku-qt](https://user-images.githubusercontent.com/46163555/83658610-6f55f780-a590-11ea-966c-c0a7f393a91b.png)
![sukoku-tk](http

[2020-06-03 16:53] PySimpleGUI commented on #306
![image](https://user-images.githubusercontent.com/46163555/83664021-70d6ee00-a597-11ea-989d-30aafebc8fcd.png)

OMG Davide!!! I got it to work by modifying your little class.....

[code]

Using the theme "Default" it's easier to see the lines:

![image](https://user-images.githubusercontent.com/46163555/83664986-c3fd7080-a598-11ea-9f63-1dc7fe707860.png)

That has got me thinking that Frame needs t

[2020-06-03 19:36] PySimpleGUI opened #390 "How can I get the "version" number?"
I would like to display the current version of Remi that's installed and being used.  I can't find a variable name with "version" or "release"in the name.    I'm sure it's something stupidly simple, but I've looked for a while now and can't find it.

[2020-06-04 07:13] dddomodossola commented on #306
Hello @PySimpleGUI ,

I'm really happy you got it working! And compliments about that cool one line example, that's incredible!

[2020-06-04 07:23] dddomodossola commented on #390
Hello @PySimpleGUI ,

you can do this:

[code]

[2020-06-04 19:28] PySimpleGUI commented on #390
This is FANTASTIC information to learn.  Once again you've taught me something not about your package alone, but for all Python packages.

I'm wondering how you handle "unreleased" versions.  How can a user run an unreleased version and know which one it is?

For PySimpleGUI, I HACKED my way into a version number. I have a variable called, uhm, `version`.  This allows me to release lots of things

[2020-06-04 19:42] dddomodossola commented on #390
@PySimpleGUI I'm not used to assign version number to unreleased versions. The most updated unreleased version is the one on github master branch. To point to a specific version it is useful to use the git commit number. The version number will be generated at pypi release and will be the date of the release day.

[2020-06-11 06:24] Eothred commented on #390
If you want to "name" an untagged version in git generally, you can do e.g. something like this:

`printf "r%s.%s" "$(git rev-list --count HEAD)" "$(git rev-parse --short HEAD)"`

Which will print a number first so that each version you use are "ordered correctly" (more or less), and then the hash of the commit for easily finding it. If you want to point to the latest tagged commit then `git descr

[2020-06-12 07:54] dddomodossola commented on #390
@Eothred Cool I was not aware of that print command :D
I will make a release and a tag soon! ;-)

[2020-06-17 04:15] nakanaela opened #391 "[Question]"
Is there a way to use Remi to creat a picamera stream? Looking at the example code for picamera, there is a StreamingOutput class that is used as the output for picamera but I'm not sure if I can just reuse this class and include an image widget pointing to 'stream.mjpg' in the Remi app.

And assistance would be greatly appreciated.

[2020-06-17 09:38] dddomodossola commented on #391
Hello @nakanaela ,
I don't have a picamera and so I cannot test it. I see that streaming the mjpg is a bit complicate, it requires additional software to be installed and configured.
I suggest instead to stream single images. Try the following example, I can't ensure it works because I cannot try it:

[code]

If this works I can improve it. Maybe it flickers but I have a solution for this.

[2020-06-18 01:46] nakanaela commented on #391
That works great. Thank you for the help. It does flicker quite a bit and I was wondering if I could modify

[code]

to work with the gui.Image object. I was looking at the PIL example and your response to the PyGame question last night and that was the idea I initially came up with, but I admit that my understanding of python is mostly limited to scraping documents for specific text and then perf

[2020-06-19 05:44] dddomodossola commented on #387
Hello @MohamedAlFahim this is a really good idea but actually I don't have the time to do so. Maybe in the future. ;-)

[2020-06-22 22:22] AndriesSHP opened #392 "Can I specify a list of file extensions limiting selections in FileSelectionDialog?"
I want to select from a directory only e,CSV .g. nd JSON files using FileSelectionDialog. How can I limit the display of only the files with specified extensions?

[2020-06-22 22:29] AndriesSHP opened #393 "Long file names in FileSelectionDialog overlap due to text wrapping"
In FileSelectionDialog long file names result in text wrapping, which causes that parts of names are displayed on top of each other. Can the line height be adjusted automatically?
And can you enable that the width of the dialog box can be increased?

[2020-06-24 06:21] MohamedAlFahim commented on #387
@dddomodossola Okay. But I'm happy to help with creating the GitHub Page.

[2020-06-24 07:28] dddomodossola commented on #387
@MohamedAlFahim Thank you a lot!

[2020-06-24 07:55] dddomodossola commented on #392
@AndriesSHP Unfortunately it actually not possible, but we can adjust it to make it possible. This period I am a bit busy, but it is a feature that I will implement in a near future. ;-)

[2020-06-24 07:57] dddomodossola commented on #393
@AndriesSHP Thank you for reporting the bug. The file selection dialog requires an update to make it more usable. I will fix it soon.

[2020-06-24 12:44] simbabali opened #394 "creating functions in a loop"
Hello,
i am trying to create a site that can display a random number of buttons. The buttons should all do different tasks.
So far I created the buttons and the "onclick" events. I am creating the "on_button_pressed" functions in a loop.
When I start up the script everything works as normal. but as soon as I click a button. The Error message below comes up

[code]
Here is how the "on_button_presse

[2020-06-24 13:11] simbabali commented on #394
ok I got I to work after all
[code]
is the way to go

[2020-06-24 13:11] #394 closed

[2020-06-24 13:17] dddomodossola commented on #394
;-) well done @simbabali

[2020-07-05 21:50] PySimpleGUI commented on #279
I'm getting an error now for my Graph Element when I try to call set_image.  `set_image` is no longer a valid method evidently as I get this error:

[code]

What method should I be calling now?

PyCharm isn't showing me anything similar to `set_image` when I look at what's available to an `SvgImage` object.

Here's a small program that I'm using to try to draw an image on my Graph Element.

[code]

[2020-07-05 21:55] PySimpleGUI commented on #279
Oh oh!

I figured it out!  It's an assignment now:

[code]

[2020-07-05 22:09] PySimpleGUI commented on #279
The problem I have now is the images I use are byte-strings.  If I try and draw using the byte-string it fails with a generic icon being shown.

![image](https://user-images.githubusercontent.com/46163555/86543176-20caae80-beea-11ea-8f04-564e7cb45303.png)

But if I remove the "b" from the byte-string variable so that it's just a string, then it draws correctly.

![image](https://user-images.github

[2020-07-06 12:53] PySimpleGUI commented on #332
I've been working this weekend and today on the example application.

Would it be possible for you to create something that doesn't create this special Matplotlib class?

With my tkinter and other ports, I create a window with an "Image Element" or a Canvas, and then the matplotlib code drawing onto the image element.

I would like the exact same kind of thing for the Remi port.  I create an image

[2020-07-06 12:57] PySimpleGUI commented on #332
What I would like is another `draw_figure` function for my Remi port.

I tried doing this, but it's not quite enough:

[code]

It creates a window like this:
![image](https://user-images.githubusercontent.com/46163555/86595263-7ba1eb80-bf66-11ea-8a6a-df0a931b3f27.png)

I am capable of drawing images onto that Image element with no problems by commenting out the call to draw_figure and instead call

[2020-07-06 13:01] PySimpleGUI commented on #332
One clear difference between my code and the sample you provided is that I'm missing this function:

[code]

I see that it's indirectly called in the `redraw` method:
[code]

I don't know if you recall, but my Image element is represented by a SuperImage class you made for me.

Here is my latest PySimpleGUIWeb.py file that has this class in it.

It feels like I'm getting kinda close, but I don't k

[2020-07-06 14:45] PySimpleGUI commented on #332
I got something to work!

[code]

[2020-07-06 15:17] PySimpleGUI commented on #332
Here's about the most simple I can make it:

[code]

[2020-07-20 15:21] PySimpleGUI commented on #332
Well, the victory was short lived.  It took less than a week before the solution wasn't ultimately 'good enough'.

Now the request is for the Matplotlib plots to be interactive in addition to being drawn.  This has been a real challenge in the PySimpleGUI version, but PySimpleGUIWeb is a whole other thing entirely.,

Your solution for Matplotliob, creating an image, was **brilliant** and enabled m

[2020-07-20 21:35] Bootstrap360 opened #395 "Canvas Drawing"
I wish to transmit an image from the server to the front end and then draw a circle on the image where a user clicks on it.

My current solution is using a callback and to redraw the image on the server and re-transmit the image. This is very slow. Is there a better solution?

[2020-07-21 07:48] dddomodossola commented on #332
@MikeTheWatchGuy
I think we can do this way:
1. Show the graphs as images, exactly as we already do;
2. Get the click event on the image with coordinates;
3. Get the figure manager as in this api https://matplotlib.org/3.2.1/api/_as_gen/matplotlib.pyplot.get_current_fig_manager.html#matplotlib.pyplot.get_current_fig_manager
4. Create a MouseEvent ( described here https://matplotlib.org/3.2.1/api/b

[2020-07-21 07:53] dddomodossola commented on #395
There are different possible solutions. Two possible solutions are:
1. Use Svg widgets to show the image and add other svg objects to draw geometrics;
2. Draw on the image with opencv and trigger an image refresh;

The best solution depends on the kind of project. What you want to do exactly?

[2020-07-22 20:12] longswordinhand opened #396 "are there any examples on mouse event on gui.Image"
I am wondering how to handle the mouse event on gui.Image? Are there any examples?
Thanks.

[2020-07-22 20:29] dddomodossola commented on #396
Hello @longswordinhand. The mouse events for the Image are the same available for the generic Widget class.
You can also use the Editor to link events to images.
What you need to do exactly?

[2020-07-22 23:13] longswordinhand commented on #396
Thanks a lot for your kind answers. I would like to create an application to have some mouse interaction on an image, such as draw a circle on an image using a mouse.
If there are examples, it will be very helpful.
Thanks again.

[2020-07-23 19:27] Bootstrap360 commented on #395
Thank you for responding so quickly.

I want to display many images in a grid from a remote server to a consumer and draw circles on the all the images from where the user clicked. Here is a demo of what I have so far. I have been able to speed it up by using high JPEG compression but I suspect it will slow down much farther when I start to display many more images.
[Sample.zip](https://github.com

[2020-07-23 21:41] dddomodossola commented on #395
Here is a really simple example made with the editor:

[code]

[2020-07-28 00:44] #396 closed

[2020-07-28 21:09] longswordinhand opened #397 "Problem to use the gui.image for image animation"
I am using the gui.Image to load a sequence of images as an animation.
However, the widget does not refresh and only display the last image. I am wondering how to update the image widget manually. Please help.
Thanks a lot.

[2020-07-29 21:27] dddomodossola commented on #397
Hello @longswordinhand can you please share your code? I will review it to fix the animation ;-)

[2020-07-29 23:46] longswordinhand commented on #397
Here is the code. Thanks a lot. The aim is to load a video and then play each frame in this video in a loop. In the function menu_play_video_clicked, the image is not updated correctly and no image is shown.
Thanks a lot.

###########################
from __future__ import print_function

import threading
import cv2

import time
import io

import PIL.Image
import PIL.ImageDraw

import remi.gui as

[2020-07-30 13:07] dddomodossola commented on #397
@longswordinhand It seems to be good code! I will try to fix it this evening ;-)

[2020-07-31 14:36] dddomodossola commented on #397
@longswordinhand here is a working version:

[code]

[2020-07-31 15:57] longswordinhand commented on #397
It is awesome. Thanks a lot for your work.
In the function  __del__, a class OpencvVideo is used. Where can I have it?
Thanks.

[2020-07-31 16:21] dddomodossola commented on #397
It's an error, replace OpencvVideo with SuperImage

[2020-07-31 16:26] longswordinhand commented on #397
That is wonderful. I appreciate your code.

[2020-07-31 16:26] #397 closed

[2020-07-31 16:57] dddomodossola commented on #397
;-)

[2020-07-31 23:35] Miserness974 opened #398 "Refresh value"
Hi,

Here is my problem: I have a table with various value and I want to have a script that can change the value of this table just by running it.

Let's say I have: LED1 : 0

Without restarting all the server, how can i get -> LED1: 1 ?

Thank you

[2020-08-02 20:41] dddomodossola commented on #398
Hello @Miserness974 , here is an example for you

[code]

[2020-08-02 21:02] me21 opened #399 "www.remigui.com is down"
I get a Cloudflare error showing that www.remigui.com is down. Just FYI.

[2020-08-02 22:34] Miserness974 commented on #398
To change the value using a python script I have test it with selenium and it works perfectly !

Thank you !

Here is the code:

    from selenium import webdriver
    driver = webdriver.Firefox()
    # Go to your page url
    driver.get('http://0.0.0.0:0/')
    button_element = driver.find_element_by_id('4576911824') #get button id
    button_element.click()

[2020-08-02 22:34] #398 closed

[2020-08-03 05:28] dddomodossola commented on #399
@me21 thank you for the info. The website was obsolete, maybe I will replace it with a github page.

[2020-08-03 15:17] me21 opened #400 "Editor does not support widget type Input"
I was searching for a password input widget and I found the issue #206. There is a solution in that issue. However, when I used the editor, I couldn't find such widget. That means I have to edit the generated code by hand and my edits will disappear when I change something in the editor.

It would be nice to support password input widget in the editor. Thank you!

[2020-08-03 16:20] me21 opened #401 "Autogenerated main function in app should have a warning that all changes will be lost"
I've learned the hard way that `main` function in the app class is autogenerated by the editor just like `__init__` or `construct_ui`. These two methods have a warning comment. It would be nice to place similar comment in the `main` function.

[2020-08-03 16:22] me21 commented on #400
Update: the editor loaded my app successfully after changing widget type by hand. It displayed Input control. However, I could not find it on the widgets palette and my `input_type='password'` argument to the constructor of the widget got deleted on save.

[2020-08-07 03:15] longswordinhand opened #402 "Save As dialog"
I am wondering if there is a save as dialog to save the file in server or local computer? Does gui.FileSelectionDialog support to input the file name?
Thanks.

[2020-08-07 05:41] dddomodossola commented on #401
@me21 thank you for the suggestion, I will do it ;-)

[2020-08-07 05:44] dddomodossola commented on #400
@me21 the input type is strictly related to the widget behavior, and so changing it can cause problems. The correct way to do this is to implement the Password widget. I will do it shortly

[2020-09-02 18:32] romanodev commented on #347
I am trying to pass bytes (raw audio data) to the javascript part so I can play audio without using a file. Would that be possible? Thanks

[2020-09-03 05:49] dddomodossola commented on #347
Hello @romanodev yes of course it is possible. I will send you an example today 😉

[2020-09-03 07:32] dddomodossola commented on #347
@romanodev this is for you ;-)

[code]

[2020-09-03 21:27] romanodev commented on #347
@dddomodossola , fantastic, thanks!!

[2020-09-11 06:40] Eothred opened #403 "Problem with vertical layout"
I am using Remi commit 38b5a99 with Python 3.8 on Linux. The following demo is not rendering properly on my system:

[code]

Here is how it rendered in Firefox for me. As you can see, the bottom bar is put too high up. In Chrome I see similar problem but the line is drawn a little bit further down.
![image](https://user-images.githubusercontent.com/187567/92876015-ec9fcc80-f409-11ea-84e6-21dc1e7ee

[2020-09-11 09:43] dddomodossola commented on #403
Thank you for reporting @Eothred , I will check it soon!

[2020-09-11 09:48] Eothred commented on #403
Colleague confirmed running on OSX. I checked my prebuilt versions and can pinpoint somewhere between 9c63d11 (renders as expected) and 5767ef2 (issue appears)

[2020-09-11 10:12] dddomodossola commented on #403
Thank you for the information ;-) The problem was caused by 38fda78b691e2614e2e7c983423216ca99bc345b .

[2020-09-11 10:14] dddomodossola commented on #403
@Eothred Pushed the fix please test and eventually close issue

[2020-09-13 04:51] jwrothwell2 opened #405 "Can't set display style on row zero of class remi.gui.TableWidget unless use_title=True"
I set column zero of each row to display:none (hides a DB key for that row's data), and I don't need or want a title row, so I set TableWidget use_title=False, and then put my data in row 0, setting column 0 to not display:

`self.table.item_at(*coords).set_style("display:none")`

This line of code is in a while loop, iterating through the database file -- all rows are set properly (no display of

[2020-09-13 05:36] jwrothwell2 opened #406 "Nested MenuItem displays off the right side of the screen"
Using gui.MenuItem appended to Menu appended to Container, with both Container and Menu widths=100%, the second-level dropdown MenuItems display beyond the right-side window border.

Would it be possible for the menu widget(s) to be aware of their display coordinates and be rendered to the left when they would otherwise fall off the screen?

Normal Display - menu items cut off:

![Normal Display -

[2020-09-13 21:31] dddomodossola commented on #405
Hello @jwrothwell2 , I created this example for you, please give it a look and let me know if it solve your problem:

[code]

Kind Regards

[2020-09-14 05:47] jwrothwell2 commented on #405
This works, of course. ;-)  But even before trying it (since I assumed it would work fine), I started looking at what you did differently.  For one, you used the Table class, whereas I used the TableWidget.  But probably more important (I thought) was that you were populating the row/cell data and style before creating (appending) the table_row, whereas I was creating the row first with set_row_co

[2020-09-14 08:17] dddomodossola commented on #405
@jwrothwell2 The TableWidget is an automated (simplified) version of Table. It internally updates the first row in some cases. It is not supposed that the user modify directly cells style.
As a side note, I suggest you to not store data in hidden cells. In my opinion, the right way to do so is to overload the TableRow class in order to add custom properties, and store custom info there. This way,

[2020-09-15 06:09] jwrothwell2 commented on #405
@dddomodossola I really appreciate this -- I had no idea you could do this in Python.  I've only been using Python for a few months, and I've never had much exposure to object-oriented languages and inheritance - and never really understood the concept of overloading.  I didn't realize that you could add properties like this that weren't originally defined.

So, I got this coded and working -- aft

[2020-09-15 07:09] dddomodossola commented on #405
@jwrothwell2 you are erally welcome.

The leading underscore has no special meaning in this case. I named the class attribute "db_index" (this is why you access the this attribute without undescrore, it is because it has no underscore) and the parameter of the __init__ function "_db_index". So I assigned the parameter class.db_index = _db_index.

[2020-09-15 07:10] dddomodossola commented on #406
@jwrothwell2 I have to change the style css file to create a specific version for you. I will do it today. ;-)

[2020-09-15 15:15] jwrothwell2 commented on #405
Ah, ok. I'm still trying to wrap my head around extended classes and how they receive arguments or attributes but I think I see what you mean now that you pointed it out. Thanks.

[2020-09-15 15:15] #405 closed

[2020-09-15 15:20] jwrothwell2 commented on #406
Please...take your time. You're obviously a very busy man. :-)

[2020-09-22 10:12] dddomodossola commented on #406
@jwrothwell2 I tried to find out the correct css style to fit the screen but with no success. Maybe you can use a treeview to show the entire top menu. Here is an example:

[code]

[2020-09-22 17:24] jwrothwell2 commented on #406
@dddomodossola Thanks for this -- I'll give it a try and see how it compares.

I had wondered how you would implement a conditional in CSS. I thought you might somehow use @media to condition styling to display size. But if it's not doable completely within CSS, would a combination of some injected javascript with CSS work? Something along the lines of:
if( (location+width) < display_width) ){

[2020-09-22 17:31] jwrothwell2 commented on #406
Sorry, couldn't seem to get all my code to display (was trying to show 2 different divs with two css classes to select right- or left-float) but you probably get the idea...

[2020-09-24 14:55] dddomodossola commented on #406
@jwrothwell2 Please excuse me the delay. I will provide you an example soon! ;-)

[2020-09-25 05:20] jwrothwell2 commented on #406
@dddomodossola Please -- no hurry, I know you're busy, and you've already given me a work-around.  Whenever you're free...

[2020-09-25 09:58] dddomodossola commented on #406
@jwrothwell2 Here is the example for you

python script:
[code]

style.css file to be placed in folder "./res_folder" :
[code]

run the script and resize the browser window, you will see the rectangle changing color between yellow and red ;-)

[2020-09-28 13:17] awesomebytes opened #407 "https://remiguieditor.daviderosa.repl.co/ no module named remi"
Hello, just letting you know that https://remiguieditor.daviderosa.repl.co/ is not loading :)

[2020-09-28 13:48] dddomodossola commented on #407
@awesomebytes thank you a lot for the info, I will now fix

[2020-10-06 15:15] batzkass commented on #253
Hi Davide,

I'm currently running remi==2019.11, and I confirm that this bug is present in this version. Each time one of the connected clients has a connection break, the server totally hangs a few seconds later. I say "a few seconds" but after some investigations I realized that its not related to time (like a timeout), but rather to the amount of message sent (or received, I don't really know).

[2020-10-06 16:26] dddomodossola commented on #253
@batzkass I don't know. Can you please end me an example script to reproduce the problem?

[2020-10-06 16:41] batzkass commented on #253
Sure, on thursday. It should rather be a list of steps to reproduce based
on your example scripts rather than a simple script.

Le mar. 6 oct. 2020 à 18:26, Davide Rosa <notifications@github.com> a
écrit :

[2020-10-07 14:45] batzkass commented on #253
Hi,

I finally found some time to work on that today. I had to write a tiny script which basically shows a series of 2000 random integers, and changes the 2000 values with an idle function every 0.2s (see http://kneib.fr/helloworld_app.py). I use the last remi version available on pypi.

I made a video of the bug here: https://www.youtube.com/watch?v=_Ep8PV37xmk

On my PC, I launch the server and

[2020-10-07 19:58] dddomodossola commented on #253
@batzkass I tried your script different times but I can't reproduce the problem. However from your video I can see a "broken pipe" error caused by the forced disconnection. I see that after wifi disconnection the messages continue to be spawn on console, and so I suppose it is not caused by a long socket timeout. Maybe we just need to catch the broken pipe error.
I will test it on a linux machine

[2020-10-08 05:03] m-kareem opened #409 "error parsing websocket"
Dear @dddomodossola,

Thanks a lot for your continues help and support. I get a weird error message when I run my GUI:
"**remi.server.ws   ERROR    error parsing websocket**"

however the GUI remains running and functioning as expected. Is this something I should worry about? And any idea how to fix it? Below is the beginning of the logs till the error occurrence.

Stay safe and all the best

----

[2020-10-08 06:12] dddomodossola commented on #409
@m-kareem it is a normal message. It could be related to a case where you have an application running, you close and reopen the server, and the gui reloads. Can also occur in other situations. No problem

[2020-10-08 07:02] batzkass commented on #253
Well, linux could be the common point with @Navarro11 who was running the server on a raspberry, so probably on raspbian.
The "broken pipe" error occurs when I press ctrl-c, I think this specific error may rightly be caused by ctrl-c. To my opinion it is rather that the server tries to send messages to a disconnected client, hence progressively fills in its sending buffer. If I'm right with this s

[2020-10-08 07:30] dddomodossola commented on #253
@batzkass this could be a good solution, I will test on raspbian today ;-)

[2020-10-08 07:34] batzkass commented on #253
I tried to set a timeout of 10 here https://github.com/dddomodossola/remi/blob/3f96dd0e8efb6d61d6d66a6b2b7f66ab1407ced7/remi/server.py#L141
And the issue doesn't appear... but each connection is resetted every 10s, producing a glich for the client.

[2020-10-08 07:53] batzkass commented on #253
Well I found a kind of fix by encapsulating the send request in a thread. This way the server continues to send data to other clients. This is the new send_message function :

    def send_message(self, message):
        if not self.handshake_done:
            self._log.warning("ignoring message %s (handshake not done)" % message[:10])
            return

        self._log.debug('send_message: %s.

[2020-10-08 08:03] batzkass commented on #253
If you wish to keep this fix, it would be nice to gently close the websocket after a certain time of thread execution to avoid plenty of "broken pipe" errors in the terminal and useless messages sent to nobody (if the client finally reconnects, all messages that haven't been actually sent will return a "broken pipe" error, after that the server is back to normal).

[2020-10-08 08:23] batzkass commented on #253
Also, (I'll try to stop here :-P), I think that websockets for each client should be treated in a different thread to limit this kind of bugs to propagate to everyone. But this may need some time to code it, and it requires to implement some inter-processes communications (tell each worker that they must send, gather the client answers ...).

[2020-10-09 09:04] dddomodossola commented on #253
@batzkass Yesterday I reproduced the error with a raspberrypi. It seems that the blocking socket communication is preventing the mutex to be released and so that specific instance of application is blocked. The server is still available for new clients if the parameter *multiple_instances=True*. This is important to understand that all clients in remi are Threaded.
It is not required to create add

[2020-10-09 20:34] dddomodossola commented on #253
@batzkass You can find the bugfix in a branch called *bugfix_253*. Please try that version and eventually confirm it works.

[2020-10-10 07:15] batzkass commented on #253
Thanks, I'll check it next week.

Le ven. 9 oct. 2020 à 22:34, Davide Rosa <notifications@github.com> a
écrit :

[2020-10-13 08:31] batzkass commented on #253
Hi @dddomodossola , it seems not to work. Once I get the `Exception: Websocket is not writable`, the server no longer sends messages to other clients. I think that raising without a try/catch is too strong, I would rather do:
[code]
as suggested here : https://docs.python.org/3/tutorial/errors.html#raising-exceptions

[2020-10-13 08:55] batzkass commented on #253
Or even
[code]
seems to work. The drawback is that after the log message occurs, the server can't be closed by ctrl+c or ctrl+d anymore. Do you know if there is a timeout somewhere to close the websocket on the server-side ? Anyway, if the client experienced a connection drop and never reconnects, it seems better to close the websocket somewhere. And as this error occurs only after some buffer is

[2020-10-13 13:51] Eothred commented on #403
Hi @dddomodossola, sorry for my terribly late reply. I checked and you are right the error in the demo example I sent you now behaves correctly. My full blown app still struggles with vertical space though, so I will try to find another demo that is a bit more minimal than my full application.

[2020-10-13 16:35] m-kareem opened #410 "Method to push alerts to screen and to communicate acknowledgement back"
Hi @dddomodossola,

thanks once again for your amazing library and continues support.
I am looking for the best way to implement a method to push alerts to screen and to communicate acknowledgement back from the user in my GUI.
I would very much appreciate if you can suggest anything or provide a simple example code.

Thanks and stay safe,

[2020-10-13 16:36] m-kareem commented on #409
@dddomodossola ,

great, thanks a lot for your prompt response..

[2020-10-13 16:36] #409 closed

[2020-10-14 08:24] dddomodossola commented on #407
@awesomebytes  Fixed thank you ;-)

[2020-10-14 08:25] #407 closed

[2020-10-14 09:22] dddomodossola commented on #403
Hello @Eothred. No problem at all for the late reply.
I see a problem in this demo:
- the grid layout assigns space to elements defined as percentage;
- the grid height is auto;
It is like an equation with two variables, where it is not possible to give it a solution. How should be sized the container?

In this case you must set a fixed size for the container, otherwise you should use a different

[2020-10-14 09:23] dddomodossola commented on #253
@batzkass Thank you a lot for the help, I will try this night to fix this ;-)

[2020-10-14 10:00] Eothred commented on #403
Hmm, ok that could certainly be that I use the wrong container, but without the 5 px vertical spacing between elements it all rescales fine I think?

[2020-10-14 10:18] dddomodossola commented on #403
@Eothred Yes that's right, but however the spacing is set to css as is, remi doesn't make special operations over it. I inspected css and calculated that rows height + spacing is within 100%. The problem is that the browser is not taking into account that spacing in height calculation, and we have no control over it.
Maybe you can set spacing as 0 and simale the spacing by children margins. (I tri

[2020-10-14 11:11] Eothred commented on #403
OK, I will avoid using the spacing in this way. I made a suggestion in ad222c4 to throw an error when the user tries to set this kind of combo, maybe something like that would block others from doing the same mistake? If you think it makes sense I can make a pull request.

[2020-10-14 12:24] dddomodossola commented on #403
@Eothred yes that's good. Please make a pull request ;-)

[2020-10-14 13:53] dddomodossola commented on #407
It seems that because of recent repl.it updates it is not possible to run the editor in a stable way. I removed that link from the readme. In the future I will look for a different solution.

[2020-10-14 18:38] jeffreyscottgraham commented on #410
Me too

[2020-10-16 07:46] #403 closed

[2020-10-16 22:13] dddomodossola commented on #253
@batzkass I updated the branch **bugfix_253** please look and test the updated version. I tested it intensively on linux and it work well. I hope it works on Mac also. ;-)

[2020-10-20 02:20] m-kareem commented on #410
Hi Davide (@dddomodossola),
just a reminder in case this question has missed your attention.

Thanks and regards,

[2020-10-20 09:48] wdehoog opened #412 "windows 10 + python 3.9: AttributeError: 'HTMLParser' object has no attribute 'unescape'"
When trying to launch a script on windows 10 using python 3.9 I get: AttributeError: 'HTMLParser' object has no attribute 'unescape'
See below. Adding the exception on line 41 of gui.py makes it work for me:
`    except (ImportError, AttributeError):
`

Stacktrace:
[code]

[2020-10-20 13:40] dddomodossola commented on #412
@wdehoog Thank you very much for reporting. Should be fixed now ;-)

[2020-10-20 13:40] #412 closed

[2020-10-20 13:41] dddomodossola commented on #253
@batzkass Can you please test and report the result?

[2020-10-20 14:18] dddomodossola commented on #410
@m-kareem @jeffreyscottgraham Unfortunately we cannot show onscreen notifications, since remi apps are limited to browser window. Of course there are javascript notification API, and remi implements a simple interface, an example here https://github.com/dddomodossola/remi/blob/master/examples/notification_app.py. But we are unable to show controls like buttons "Yes" "No"... So you can show notific

[2020-10-20 17:06] batzkass commented on #253
Sorry, I'm AFK these days. But for that bug I'll do an exception :-)
So, bad news it still doesn't work for me. Which version of linux do you use for your tests ? I'm on ubuntu 19.10, python 3.7.5.
I get your new error message, but after that it hangs :
[code]
I checked and the issue is with `ws.close(...)` that hangs as `self.request.sendall(...)` did. It seems that it can't close the connection

[2020-10-22 13:23] #410 closed

[2020-10-22 21:22] dddomodossola commented on #253
@batzkass Thank you again for the patience :-D . I have to further investigate.

[2020-10-26 03:00] Bootstrap360 commented on #395
Thank you @dddomodossola,

I have set the SvgImage object css_width and css_height to be 100% rather than in pixels. How can I get the current widget's height in pixels if the css is defined in percentage?

The function `width_in_pixels()` and `height_in_pixels()` are the parts that I am missing.

[code]

[2020-10-29 09:09] Ksengine opened #414 "clean Readme"
move changelog and docs to another files.
dont include them in README

[2020-11-04 13:25] trabucayre opened #415 "build fails when using archive since 481ee7ca3df55be127db35560978a36997a2c088"
Since PR #404 when using the archive the build fails with:
[code]

setuptools_scm search version using git , but in release/tag archives the .git directory has been dropped.

[2020-11-04 15:02] dddomodossola commented on #415
@trabucayre Thank you very much for reporting. I will fix this in about 8 hours.

[2020-11-06 08:45] dddomodossola commented on #415
@trabucayre Excuse me for the delay. Should be fixed now ;-)

[2020-11-06 08:55] dddomodossola commented on #253
@batzkass Now it should be fixed. I reproduced the error on ubuntu 18 and fixed it. Can you test it?

[2020-11-06 09:08] trabucayre commented on #415
No worries.
Works for me.

Thanks

[2020-11-06 09:08] #415 closed

[2020-11-06 09:10] trabucayre opened #416 "Missing"

[2020-11-06 09:10] #416 closed

[2020-11-06 09:12] trabucayre opened #417 "Missing LICENSE file in pypi archive"
Unlike gittub repository, archive fetched from pypi.org didn't contains LICENSE file.

[2020-11-06 11:01] dddomodossola commented on #417
@trabucayre Thank you for reporting. Actually I push new versions to pypi manually, and I forgot to add that file. I have to automate the process. ;-)

[2020-11-06 11:06] dddomodossola commented on #414
@Ksengine Thank you for the suggestion. I will do it soon ;-)

[2020-11-06 13:17] Ksengine commented on #414
can i help you.

[2020-11-06 13:17] Ksengine commented on #414
we can close this issue now

[2020-11-06 13:18] Ksengine commented on #414
i am the author of https://github.com/Ksengine/DicksonUI
you starred it once
but i had deleted and recreated it.

[2020-11-08 07:59] Ksengine commented on #414
@dddomodossola
not yet moved

[2020-11-08 08:00] Ksengine commented on #399
use [gitbook](https://gitbook.com)

[2020-11-08 09:30] dddomodossola commented on #414
@Ksengine DicksonUI is cool! Why you deleted it?
I will rework the readme after some important pending works.

[2020-11-08 09:33] dddomodossola commented on #399
@Ksengine thank you for the info, however it has low priority actually. I cannot focus on website, there are many other important things to do.

[2020-11-08 10:50] Ksengine commented on #414
ok

[2020-11-08 10:54] Ksengine commented on #414
**my description :**

------------------
and beginner for github
i deleted it accidentally.
I had recreated DicksonUI.
If you can please contribute

[2020-11-09 10:35] batzkass commented on #253
Yes, I confirm that it is fixed. Many thanks Davide.

[2020-11-09 11:15] dddomodossola commented on #253
@batzkass Thank you so much for supporting in debug and tests. ;-)

[2020-11-11 06:55] Ksengine opened #419 "use WSGI"
use WSGI server a s server of remi.
I recommend [**@Ksengine/WSocket**](https://github.com/Ksengine/WSocket)
I am the author of WSocket.
I can contribute to this repo

[2020-11-11 22:29] dddomodossola commented on #414
@Ksengine I really would be happy to contribute but I have no spare time. Work+family+some extra work= no spare time 😥

[2020-11-12 03:47] Ksengine commented on #414
i made a pr #420

[2020-11-13 04:27] Ksengine commented on #402
do you want a cross platform way?

[2020-11-20 03:39] occoder opened #421 "How to intentionally append different widgets in same row?"
When I append two Button widgets into a container, as long as, their width sum does not exceed the container's width. These two Button widgets are arranged in the same row by default.
But if I append two different types of widget, say TextInput and Button, they are arranged to different rows by default whatsoever.
So my question is if Remi could explicitly define packing into same row once packing

[2020-11-20 07:35] dddomodossola commented on #421
The packing depends on the specific container used. If you want to arrange elements vertically use VBox container. If you want to arrange elements horizontally use an HBox.
The basic Container class is better suited for absolute object positoning. The GridBox layout allows to arrange elements in structured flexible grids.
Kind Regards.

[2020-11-23 03:17] occoder opened #422 "Why is on_close not called when the browser tab is closed?"
In the [widget_overview_app.py](https://github.com/dddomodossola/remi/blob/master/examples/widgets_overview_app.py), the on_close function is supposed to be called when the browser tab is closed.
But it turns out the on_close function is not called as the time counting continues no matter if the client browser is closed or not.
Do I misinterpret the intention behind on_close function?
Thanks

[2020-11-23 03:29] occoder commented on #421
Thank you@dddomodossola for the enlightenment.
The answer brings me to [this layout example](https://github.com/dddomodossola/remi/blob/master/examples/layout_app.py).

[2020-11-23 03:29] #421 closed

[2020-11-23 05:16] occoder commented on #422
And I'd like to implement emitting certain button click event (or calling the click binding function directly) upon when the last browser tab is closed. Is this possible?

[2020-11-23 22:35] dddomodossola commented on #422
Hello @occoder ,

App.on_close is called on app termination, it means the process termination.
You maybe need this https://github.com/dddomodossola/remi/blob/master/examples/onclose_window_app.py .

Have a nice day

[2020-11-23 22:36] #417 closed

[2020-12-04 20:55] batzkass opened #423 "Websocket communication error"
Hi Davide,

I finally upgraded Remi from 2019.11 to 2020.11.20 some days ago, so that I can benefit from the bugfix of the connection drop we worked on. It seems that many things changed in Remi since one year and it took me less than 10 minutes to adapt my server code (which is kind of huge now), so congratulations for your efforts to make it easy to maintain.

I saw that you worked on the websoc

[2020-12-04 22:36] dddomodossola commented on #423
Hello @batzkass, wonderful exhaustive bug report, thank you.
There is a server parameter to correct the websocket communication timeout. In your case a longer timeout should fix the problem. The parameter is *websocket_timeout_timer_ms*. It have to be passed to the `start` function call.  Default value is 1000 (1 second).
Please let me know if this solves your problem.
Have a nice day.

[2020-12-04 22:44] batzkass commented on #423
Unfortunately this doesn't change anything, I went up to 10000. In addition, when the issue occurs it's almost instantaneous (subsequent to my click on the button), way less than 1 second. It looks like a sending buffer that is filled faster than it is emptied (by actual sending). Is there somewhere this kind of buffer size in the websocket lib ?

[2020-12-05 09:02] batzkass commented on #423
I think about something else : to solve the last issue we had, you added a test, whether the socket is writable or not. If the previous message is still not fully received or acknowledged, the socket may not be writable for the current one. Perhaps we should wait a bit an retry in this case before closing the connexion ?

[2020-12-05 12:06] batzkass commented on #423
Well, the following code seems to fix the issue, at least for the minimal example I gave on 4G connection and 5000 (!) labels.
[code]

[2020-12-06 08:56] dddomodossola commented on #423
@batzkass thank you very much for all this debug and support. Instead of creating a for loop it could be possible that a timeout other than 0 would solve the problem in this function call:
`readable, writable, errors = select.select([], [self.request,], [], 0)`

Or maybe we have to check which kind of error is returned.
I will be able yo test this on Wednesday ;-)

[2020-12-07 12:23] batzkass commented on #423
Well, a timeout of 2s **seems** to fix the issue (without the loop). But let me a few days to confirm this on real conditions.

[2020-12-07 14:56] Tecnoll commented on #295
Olá, eu preciso da sua ajuda, com o remi. Eu quero pegar a posição do mouse sobre um widget e retornar X e Y, mas não consigo! Me ajude por favor dddomodossola!

[2020-12-07 15:07] Ksengine commented on #295
@dddomodossola please format code samples on your comments.
like
[code]

[code]

[2021-01-15 00:43] simracingstudio opened #426 "Windows computer name with special character does not start server"
Hi,

If you have a computer name with a special character like:
Nathanaêl

The start_server raises un utf8 error while invoking
socket.getfqdn()

![image](https://user-images.githubusercontent.com/47185130/104665970-b799d400-56a0-11eb-92f3-404e50c1dab9.png)

[2021-01-15 08:09] dddomodossola commented on #426
@simracingstudio  Can you please provide more information? It would be helpful to know the python version and the complete traceback.
Please try with a newer python version

[2021-01-15 22:53] dddomodossola commented on #426
@simracingstudio this is a python bug, here is the issue https://bugs.python.org/issue26227 .
As you can see it is pending, still not released.
Three possible workarounds:
- Use linux instead of Windows;
- Use python 3.5 (it was fixed in that release)
- Use a computer name with no 'special' characters.

I think that we will get a solution in the next python version ;-)

[2021-01-21 06:21] occoder opened #427 "How to arbitrarily position item within HBox?"
I'd like to arrange image and label items within HBox with arbitrary padding pixels among them.
But it seems HBox does not allow to do so.
If I set style with, like `style='position: relative; left: 100px; top: 100px'` to each item. The items still stack up by default.
I don't know what gets wrongly set.
By the way, does position: relative mean being relative to its parent container, i.e. Hbox in

[2021-01-21 10:59] dddomodossola commented on #427
Hello @occoder,

For absolute positioning you should use the Container class. The HBox arranges the children automatically.
However you maybe want to not define absolute position for items, you don't need to set *left* and *top*. You simply need to set a margin to each item. To get this, set:

[code]

Kind Regards

[2021-01-22 03:02] occoder commented on #427
Hello @dddomodossola
Thanks for your kind prompt.
I've tried your proposal. It turns out that css_margin makes the margin around the item's all sides which makes it difficult to just leave space at only one side of the item.

[2021-01-22 06:19] dddomodossola commented on #427
Hello @occoder ,

Instead of child.css_margin, you can use child.style['margin-left']

;-)

[2021-02-10 11:12] Robin-Castellani opened #429 "[Doc] Error in building Sphinx docs"
Hi everybody! 👋

First of all thanks for your efforts! That's a great library.

I was looking for a documentation beyond the `README.md`, but I found nothing ready to be used. Therefore I tried to build the docs from the `doc` directory using the `Makefile` provided (Sphinx based). These errors occurred:

[code]

I solved by inserting at the beginning of  the `conf.py` Sphinx file this line
[code]

[2021-02-10 13:39] batzkass opened #430 "Feature request: modify server root directory"
Hi Davide,
I hope you're going well.

I'm facing a technical issue these days with remi, due to one of its limitation. Today I worked this around with subclasses and method replacement in remi, but I think this could be implemented as its a generic feature.

Here it is: I need to tell remi that the "website" root isn't at `xx.xx.xx.xx:XXXX/`, but rather at `xx.xx.xx.xx:XXXX/my_defined_root_string`

[2021-02-10 15:22] qq2898 opened #431 "is there any help document ?"
I find it https://remi.readthedocs.io/en/latest/
thank you

[2021-02-10 15:27] #431 closed

[2021-02-11 07:33] dddomodossola commented on #429
Hello @Robin-Castellani you are really welcome to create a pull request. There is no additional documentation unfortunately. However there are some example, and the graphical editor can be also really useful. Nonetheless  you can ask me for questions/suggestions.  😉👍

[2021-02-11 07:40] dddomodossola commented on #430
Hello @batzkass ,
I'm pretty fine thank you. I hope you are well too.
Different users asked for the same thing and I know how it could be useful. This change could cause cascading problems especially for resources paths (a big devil fixed with hard work). Are you able to provide an initial implementation of this? Maybe we can create a separate branch with this functionality

[2021-02-11 09:14] Robin-Castellani commented on #429
Thank you Davide!

I'll create it as soon as possible. 👍

[2021-02-11 09:57] dddomodossola commented on #429
Thank you too @Robin-Castellani 😉

[2021-02-11 10:40] batzkass commented on #430
I realize that my configuration is a bit "fancy" : the frontend apache acts as a proxy, and unpacks the incoming query address then removes the `my_defined_root_string_numberX`. This way, the resource paths issue is automatically solved and the only thing to do is to tweak the links inside the widgets that need it (and [in js the server ws address to reach](https://github.com/dddomodossola/remi/bl

[2021-02-11 11:55] dddomodossola commented on #430
Your understanding of dirs is correct. It is required also to fix this regex https://github.com/dddomodossola/remi/blob/35b74690acf12adb2bf6a3f13c05695393451db6/remi/server.py#L646 . That regex is important to validate the path.

[2021-02-11 12:19] batzkass commented on #430
Ok so I'll have a try and keep you informed.

[2021-02-11 13:40] batzkass commented on #430
I started to work on it and I feel like it will work. I have one question however: the variable containing `my_defined_root_string_numberX`, lets call it `query_root` is currently handled by the `App` instance as an attribute. But I also need to access this attribute from `gui.py` to prefix the static urls, i.e in `Image(...)`.
What's the better way to do that ?

[2021-02-11 14:26] batzkass commented on #430
Also, could you please tell me what is the purpose of [this](https://github.com/dddomodossola/remi/blob/master/remi/gui.py#L2934) decorator on `Image` and `Video` ? I modified the `__init__` and `set_image` methods to include `query_root` but should I also do something on those decorators ?

[2021-02-11 14:44] dddomodossola commented on #430
I can't find an elegant way to transfer that variable *query_root* to gui.py. I will tell you if I will get an idea.
That decorator is used to allow set instance property for the widget. Instead of doing:

    my_image.set_image(path)

you can do also:

    my_image.attr_src = path

So you cannot fix it, the user should do manually :

    my_image.attr_src = query_root + path

I think it is not so

[2021-02-11 14:52] batzkass commented on #430
My aim is to modify the decorator to handle this, so that it is transparent to the user. At this time I have a minimal working example, that's great.

[2021-02-11 15:02] batzkass commented on #430
Don't you think that `def attr_src(self, value): self.attributes['src'] = query_root+str(value)` will basically do the trick ? (assuming `query_root` is a global variable in `gui.py`, that's my temporary solution).
Note that for most users `query_root==""`, which will not cause any modification.

[2021-02-11 15:21] dddomodossola commented on #430
It could work. Maybe the *query_root* name can be changed into *url_root*? Do you think could be better?

[2021-02-11 15:38] batzkass commented on #430
Haha, I knew `query_root` was not ideal, just for tests before really finding the exact name. `url_root` is nice, I just wanted to see on other servers if there is a common name for that.

[2021-02-12 09:07] vtarasv opened #433 "Select file from windows explorer and return its path"
Hi!

Is there any way to select a file from the computer and get its full path to the file? Currently, I can only get file name using FileUploader.

[2021-02-12 10:47] dddomodossola commented on #433
Hello @taras4111

Unfortunately this is not possible because of browser security policies

[2021-02-15 10:53] batzkass commented on #430
I forked remi and my implementation is here : https://github.com/batzkass/remi/tree/url_root
It comes with a documentation in README.md for remi/apache setup. Note that the implementation may lack some widgets at this time, I will need your help to do so.

[2021-02-15 11:12] batzkass commented on #430
In readme.md, the last "todo" line about style.css will be problematic. We should talk about that.

[2021-02-15 11:38] dddomodossola commented on #423
@batzkass This should be fixed now (with a very long delay, excuse me). If you can give it a try it would be great, if you cannot than no worries. ;-)

[2021-02-15 12:28] batzkass commented on #430
Fixed, see readme.

[2021-02-15 13:19] dddomodossola commented on #430
@batzkass I am unable to test/improve it in a short time. I'm involved in different projects. However I merged it in a separate branch as is. Thank you a lot for your effort and contribution.

[2021-02-15 14:21] batzkass commented on #430
Sure I understand. I solved everything I think, so it should work nicely. Two items are still opened (see readme):
* try https/wss : I will do it next week
* change `url_root` access from gui.py, which will need you to think about.

[2021-02-23 19:03] igor-dan opened #436 "Editor - 'Editor' object has no attribute 'drag_helpers'"
When trying to run editor, I receive following exception:

_Traceback (most recent call last):
  File "C:\WinPython\WPy64-3850min\python-3.8.5.amd64\lib\site-packages\remi\server.py", line 421, in _idle_loop
    self.idle()
  File "E:/dev2/Python/SandBox/remi/editor/editor.py", line 720, in idle
    for drag_helper in self.drag_helpers:
AttributeError: 'Editor' object has no attribute 'drag_helper

[2021-02-23 19:09] dddomodossola commented on #436
Hello @igor-dan , thank you for reporting this problem. Can you please tell me which version are you using? Please try to install both remi and editor from remi master branch

[2021-02-24 05:49] igor-dan commented on #436
Hi. This is exactly what I did. I cloned remi master branch.

[2021-02-24 16:33] dddomodossola commented on #436
@igor-dan What you updated? The editor or the remi installation?
furthermore can you download again the latest editor version? I made a change right now and I would like to know that it works.

Thank you too ;-)

[2021-03-03 06:31] #427 closed

[2021-03-03 06:43] occoder commented on #427
Thank you @dddomodossola

[2021-03-12 16:37] waingt opened #437 "Could event handler be connected at initialization?"
This GUI library is so cool.
But, when I create a button, I must assign a variable to it at first, then connect event and append it to container. (this takes 3 lines)
I suppose it is cooler if this could be done in one line

for example:

[code]
usage:
[code]

[2021-03-13 18:56] dddomodossola commented on #437
@waingt  This is really cool, I will implement it in a near future! Thank you for the suggestion ;-)
However I will make a more generic implementation to avoid named parameters like "onclick". I suppose to accept a parameter like Button("my button", do={Button.onclick: my_onclick_handler, Button.onmouseover: my_onmouseover_handler}) .

[2021-03-14 17:22] ulda opened #438 "remove debug print"
somebody left a debug print in gui.py
[remi-remove-print.patch.gz](https://github.com/dddomodossola/remi/files/6137179/remi-remove-print.patch.gz)

[2021-03-15 13:32] batzkass commented on #430
Hi Davide,
Would it be possible for you to schedule a bit of time to integrate this feature inside remi ? As I wrote [here](https://github.com/batzkass/remi/tree/url_root), I made almost everything. What remains to you is to review code design and maybe a little of testing.
Thanks.

[2021-03-16 15:25] dddomodossola commented on #430
Dear @batzkass ,

In this period I'm focused to some payd project, and on the C++ porting of remi. Furthermore I'm doing some researches about FPGA programming. I'm really busy. I merged your changes in a separate branch. I cannot test it actually and can't promise you to merge to master branch in a near future.
Can you please tell me if there is a necessity to you to merge to master branch in a s

[2021-03-18 15:00] batzkass commented on #430
Nice projects ! I don't really need it in a short time, as I have setup my servers to download remi from my fork. It's rather that I can't afford to maintain my fork/branch regarding other modifications you may do to remi in parallel. So I just want to avoid this task to be forgotten, and reach a point that merging becomes very complicated.

[2021-03-23 17:12] #437 closed

[2021-03-25 07:13] occoder opened #439 "Can I group widgets and enable/disable them by only one operation?"
I got quite a few widgets (e.g. spin) that need to be enabled or disabled in sync.
Should I have to enable/disable individual widget one by one? Or maybe I can group them and just operate once on such group?
Thanks in advance.

[2021-03-25 07:28] dddomodossola commented on #439
Heĺlo @occoder , it is ok to disable groups of widgets ;-)

[2021-03-25 07:29] #433 closed

[2021-03-25 07:30] #429 closed

[2021-03-25 07:31] #422 closed

[2021-03-25 07:32] #414 closed

[2021-03-25 07:35] #391 closed

[2021-03-25 07:35] #406 closed

[2021-03-25 07:50] occoder commented on #439
Should I wrap all widgets into a container and operate on that container?

[2021-03-25 08:14] dddomodossola commented on #439
@occoder yes it is simpler to do this way

[2021-03-25 08:59] occoder commented on #439
@dddomodossola I did wrap these widgets into a HBox container and tried to enable/disable the HBox object. But it turned out that the individual spin widget is NOT grayed out if its parent HBox container is disabled. I don't what could possibly go wrong?

[2021-03-25 10:13] dddomodossola commented on #439
Which remi version are you using? I suggest you to update to the latest version and refresh the browser cache.

[2021-04-07 02:54] occoder commented on #439
@dddomodossola I used the latest version, i.e. 2021.3.2. I found that xxx_hbox.set_enabled(False) does not gray out the HBox container. And this #373 indicates that container could (only?) be disabled through a workaround method like
[code]
and re-enabled through
`del mycontainer.style['pointer-events']`
Is this still the situation in the latest version of Remi?

[2021-04-14 06:12] hcygeorge opened #440 "How to make a widget moving(change its position) iteratively?"
I want to make a widget change its position many times by looping after clicked.
I have tried using a for loop, but when I click the widget, it just move to the final position after the whole loop is done.
Any idea to make this possible?

[2021-04-14 06:20] dddomodossola commented on #440
Hello @hcygeorge  , you should do it in a thread. Such thread can be initiated by the button click. When you make changes to a widget by a separate thread you must use the update_lock to prevent concurrent access. Here is an example, here a label and a progress_bar are update by a thread

[code]

[2021-04-14 08:18] lopatoid opened #441 "non-latin support"
I've had problems with Cyrillic filenames when creating FileDownloader object, and I was able to fix it just by changing line 701 in server.py to
`self.send_header(k, urllib.parse.quote_plus(headers[k]))
`

[2021-04-14 08:26] dddomodossola commented on #441
@lopatoid Thank you a lot for reporting. Can you please create a pull request to fix this?

[2021-04-14 08:27] #350 closed

[2021-04-14 08:28] #367 closed

[2021-04-14 08:28] #368 closed

[2021-04-14 08:29] #377 closed

[2021-04-14 08:29] #386 closed

[2021-04-16 20:03] rp10007 opened #442 "Interface update Interval?"
I'm using PySimpleGuiWeb to control an embedded device, and part of the interface changes the color of a button to indicate the state of the underlying hardware:

    if gm.leftlaser:
        window['Toggle Left Laser'].update(button_color = ('black','light blue'))

The update currently takes about 11 seconds. (The code is running on a Pi 3, and the time seems to be spent in the interface, because

[2021-04-16 20:28] dddomodossola commented on #442
Hello @rp10007 , 11 seconds is really too much time. However it is difficult to know where this error comes from by this description. Can you try one remi example on your rpi and check if it updates correctly?

[2021-04-16 22:27] rp10007 commented on #442
I tried the minefield app, and everything there updates almost instantly.  So that's not the problem. And I put some time calls in various places -- the update itself takes only a few tens of milliseconds.

I'm sorry -- after checking thoroughly where the time was being spent in my code I found a read-with-timeout that was absolutely guaranteed not to trigger the timeout but did anyway. Thanks for

[2021-04-16 22:27] #442 closed

[2021-04-16 22:37] dddomodossola commented on #442
You are welcome ;-)

[2021-04-26 03:35] occoder opened #443 "How to dynamically change(reload) image object?"
Once the Image object is packed into container and initialized with the container after web server starting up, the image resource is reloaded through a Timer thread code like
[code]
But the image shown on the web page does not change accordingly.
Then what is the proper way to dynamically change(reload) such image?
Thanks in advance.

[2021-04-26 05:50] occoder commented on #443
I figured it out. It's working now.

[2021-04-26 05:50] #443 closed

[2021-04-26 05:53] occoder opened #444 "the mysterious startup log"
When I initially start up the web server, the log is as follows
[code]
I have no clue how comes the following mysterious message？
[code]

[2021-04-26 06:26] dddomodossola commented on #444
Hello @occoder does it occurs with remi examples? What is the application that generate this error?

[2021-04-27 06:34] occoder commented on #444
No. It occurred on my program and is odd that it does not show up every time I start up the web server.
How to interpret such log info?

[2021-04-27 07:23] occoder opened #445 "How to detect if any browser is interacting with the web server?"
Is there a proper way to detect if any browser is interacting with the web server?
It seems like the web server is agnostic to a 'floating' opened web page.

[2021-04-27 08:22] occoder commented on #445
The example onclose_window_app.py helps.

[2021-04-27 08:22] #445 closed

[2021-04-27 09:50] dddomodossola commented on #444
@occoder Maybe when you restart your application, you leave the webpage open. When the webserver becomes ready, the page has some widgets that are "expired". If this is the case, it should never occur if you close the page and the webserver before to restart the application. However, if this is the case, it should not be a problem.

[2021-04-27 09:55] #440 closed

[2021-04-27 10:10] dddomodossola commented on #439
@occoder Maybe there is a problem in the css. I will fix it soon.

[2021-04-27 10:22] dddomodossola commented on #439
@occoder I pushed a bugfix to the master branch. You should install remi from master branch and eventually refresh your cache.

[2021-04-27 10:22] #436 closed

[2021-05-06 08:35] bashkan opened #446 "Index Out of Range error"
I have a script that parses some values from web and then presents them in a table. Occasionally ıt is given the following error and the web interface stops working. Any ideas?

remi.server      INFO     Started httpserver http://0.0.0.0:8000/
remi.server.ws   INFO     connection established: ('192.168.2.17', 49770)
remi.server.ws   INFO     connection established: ('192.168.2.17', 49773)
remi.ser

[2021-05-14 16:47] m-kareem opened #447 "How can I return value from "execute_javascript""
Hi @dddomodossola,

I am trying to use confirm pop-up box via execute_javascript in my GUI. Something like this:

[code]

The code is working and when I press the button, the pop-up box appears. Now how can I get the return value and execute a function when the user press the OK button?

I am aware of `dialog.confirm_dialog` in remi, but since that appears in full screen rather than a pup-up box,

[2021-05-14 20:29] dddomodossola commented on #447
Hello @m-kareem, it is simple to code a popup with remi ;-)

[code]

[2021-05-15 06:40] m-kareem commented on #447
Thanks a lot @dddomodossola for your prompt reply and kind support. This is exactly what I needed.
However it would be very nice to see what solution you have for `execute_javascript` method and how you can return values from JS to remi.

Best,

[2021-05-15 19:54] dddomodossola commented on #447
@m-kareem in order to send data back to python server you have to use the *remi.sendCallbackParam* from javascript.
sendCallbackParams requires 3 arguments:
1. The identifier of the widget or app that will handle the callback
2. The callback name
3. The parameters dictionary that will be send back to the callback.

Here is a working example ;-)

[code]

[2021-05-15 19:58] dddomodossola commented on #446
Hello @bashkan please excuse me for the late reply. The errors shown here are not related to the problem you are getting. The error shows that you restarted the application but the webpage was not closed. So the old widget instances in the browser were not recognized by the server. But this should not cause problems.
Do you have threads in your application? Or maybe possibly infinite loops?

[2021-05-15 19:58] #444 closed

[2021-05-15 23:21] m-kareem commented on #447
Thanks a lot @dddomodossola , this is a genius idea. However for some reason I did not get anything back in the terminal from "mylistener" function. The code is running without error.

Best,

[2021-05-16 05:45] bashkan commented on #446
Hello @dddomodossola, thank you for your reply. You are correct, in order to refresh the values on the table, I do restart the script (within itself). I do not have any threads or any loops in the script. It is quite a simple application with only 160 lines. Strangely enough, the problem seems to be gone now. I mean the script seems to be working fine on my good old XP machine.
The only problem le

[2021-05-16 11:33] dddomodossola commented on #447
Maybe you are not using the latest remi version. Please try to update remi. Furthermore, please check for errors in the browser console.
Kind Regards

[2021-05-16 11:37] dddomodossola commented on #446
@bashkan If you show here your code I can try to understand the problem. However I suppose you are not stopping and restarting the script in the right way. Can you please also describe how you restart the script?

[2021-05-16 11:45] bashkan commented on #446
@dddomodossola , sure, I am pasting my entire script below. I am sure the goal can be achieved in a much better/easier way. I am not an expert and I just needed the job done. Thank you so much for your support.

`import requests
import remi.gui as gui
from remi import start, App

import sys
import os

from datetime import datetime
now = datetime.now()
current_time = now.strftime("%H:%M:%S")
print(

[2021-05-16 11:50] bashkan commented on #446
@dddomodossola sure, I am pasting my entire script below. I am sure the goal can be achieved in a much better/easier way. I am not an expert and I just needed the job done. Thank you so much for your support:

import requests
import remi.gui as gui
from remi import start, App

import sys
import os

from datetime import datetime
now = datetime.now()
current_time = now.strftime("%H:%M:%S")
print("Cu

[2021-05-17 09:55] dddomodossola commented on #446
Hello @bashkan, you are restarting the application without closing it.
Try to call App.close() before restarting.

However I think you don't need to restart. Here is the version without restart:

[code]

[2021-05-17 10:32] bashkan commented on #446
@dddomodossola , thanks a lot you for your time and support. Your script is so much better than mine, I will use it instead. I need to even study it to understand things better.

[2021-05-22 10:33] p-bogi commented on #436
Hello, I just started to try Remi for the first time. The examples worked. So I tried to start the GUI Editor. I am on Win10 and Python 3.7.3. I tried more branches (master, develop ...) but cannot find one where the error would not appear. I also tried Firefox, Chrome, Edge.
remi.request     ERROR    exception in App.idle method
Traceback (most recent call last):
  File "D:\python\Python37\lib\si

[2021-05-22 11:16] dddomodossola commented on #436
Hello @p-bogi please install remi from github master branch. The problem is that you installed remi from pypi and you are using a more updated editor version from github.

[2021-05-22 15:19] p-bogi commented on #436
Thanks, that helped! :)

[2021-05-22 17:28] dddomodossola commented on #436
😉👍

[2021-05-26 12:55] xcodz-dot opened #448 "AttributeError: module 'android' has not attribute 'webbrowser' (Ubuntu 20.04)"
I just installed remi through pip and was smart enough to figure out the command `python3 -m editor` opens remi WYSIWYG editor. but when i opened it. it showed this error:

[code]
After seeing the above, i knew that module android is installed but does not have any attribute webbrowser. I knew that android is not something that I installed so I tried to delete it but I quickly found out it was not

[2021-05-28 20:48] #448 closed

[2021-06-02 15:35] m-kareem opened #450 "How to emit an event and trigger an action"
Hello @dddomodossola ,

Thanks again for your kind and continues support. I would like to implement 'pubsub' feature in my GUI to receive alerts and warnings from other scripts that are running in the background. The best way to have less interaction between the GUI and the other scripts is to have those scripts to send messages via 'pubsub' and receive them in the GUI.

After a message is receive

[2021-06-02 15:35] #447 closed

[2021-06-07 07:11] Ah-Q opened #451 "How to delete my selected item using listview"
I recently learned remi. When using listview, I want to delete the selected item, but after observing the source code, I found that the corresponding function was not found. How should I delete the selected item?

[2021-06-07 13:12] dddomodossola commented on #450
Hello @m-kareem ,

Excuse me for the late reply. To trigger an event you simply need to call it like a function. Suppose the Button.onlick event, if you have a button named *mybutton* and you want to trigger the event by code, you can simply do mybutton.onclick(). This way the listener will receive the event.

Furthermore, consider that in order to communicate with other processes, remi can receiv

[2021-06-07 13:21] dddomodossola commented on #451
Hello @Ah-Q , to remove a widget from a parent you can do parent.remove_child(child_instance). In your case you should do

    listview.remove_child(listview.children[listview.get_key()])

Kind Regards

[2021-06-07 13:45] m-kareem commented on #450
Hello @dddomodossola,

Thanks a lot for your kind response. The onclick() function is specific for the buttons and I am already using it in my GUI. My question is for when a generic event happens independent of the users actions. For example when a warning message is received by the GUI from other processes. How should the listener get it and how to call a specific function based on that?

Best re

[2021-06-07 14:34] dddomodossola commented on #450
I'm not sure to understand. Let's discuss it.
You have a remi application and an external application.
The external app sends message to remi app using a particular protocol.
The remi app receives such messages in a thread or in the idle loop.
When the event occurs, for example the string "WARNING" is received by protocol, a particular function have to be called.
If this is the situation you simpl

[2021-06-07 18:05] m-kareem commented on #450
Thanks a lot @dddomodossola , what you described is exactly what I want to do. I just did not know where to place the function in the code. So it should be in a running thread in the main function of the GUI or in the idle loop so that remi can always listen when the "if" statement became true, it executes the message handler.

I will give it a try and will let you know if it did not work.

Best,

[2021-06-07 19:30] dddomodossola commented on #450
This is a threaded application example https://github.com/dddomodossola/remi/blob/master/examples/threaded_app.py , give it particular attention tp the App.update_lock used to sync the remi thread with the external thread. ;-)

[2021-06-07 23:53] Ah-Q commented on #451
This problem has puzzled me for a long time, and now it has been solved by you. Thank you very much

[2021-06-08 05:45] #451 closed

[2021-06-10 14:42] #450 closed

[2021-06-11 17:45] m-kareem opened #452 "How to shutdown the web server and GUI from user action"
Hello @dddomodossola ,

Thanks again for your kind and continues support. I need to add a shutdown button to my GUI to close the GUI and terminate the entire web service. I tried the self.close() and sys.exit(0) but neither worked as expected. I get the GUI down in the browser but the web service is still running and throwing error and stays at this stage for ever (please see the terminal output b

[2021-06-13 03:36] longswordinhand commented on #316
I have a question on the code to POST the jpeg compressed image data. How is the the POST code run in client part?
Thanks.

[2021-06-13 05:23] dddomodossola commented on #316
I am not sure to understand your question, because the reply seems obivious. The instruction on the client side that perform the POST request is the following:
    r = requests.post("http://127.0.0.1:8081", files={"image":bio}, headers={'filename':'myfile.py', 'listener':'myimage_receiver', 'listener_function':'ondata'})

[2021-06-13 14:19] longswordinhand commented on #316
Thanks a lot for your prompt answer. Remi is awesome.
My question is : if there is another program in client part to run the code to POST separately and before the main program in server run?
Thanks.

[2021-06-14 02:59] longswordinhand commented on #323
@dddomodossola When I tested the above code in chrome on PC and pressed the "Get cameras", the below list was empty and there was no a live image on top. Is there something I missed or need to change?
Thanks.

[2021-06-14 08:10] dddomodossola commented on #452
Hello @m-kareem ,

You should not run self.close() in an external thread. Here is a working example:

[code]

[2021-06-14 12:17] dddomodossola commented on #316
I'm happy to know that you like the remi library.
This is the client (a separate program):

[code]

And this is the server (to be run before the client):
[code]

[2021-06-14 12:18] #446 closed

[2021-06-14 12:18] #439 closed

[2021-06-14 12:21] dddomodossola commented on #323
@longswordinhand  Please check if there are errors in console and report them here please.

[2021-06-14 16:14] longswordinhand commented on #323
Thanks a lot for your quick response. Here is the errors:

remi.server      INFO     Started httpserver http://127.0.0.1:8081/
remi.request     INFO     built UI (path=/)
127.0.0.1 - - [14/Jun/2021 11:12:42] "GET / HTTP/1.1" 200 -
browser requested the image
remi.request     ERROR    error processing GET request
Traceback (most recent call last):
  File "D:\Anaconda3\lib\site-packages\remi\server.

[2021-06-16 14:16] dddomodossola commented on #323
Please try this version:

[code]

[2021-06-18 21:40] c-rodwell opened #453 "Second remi app in same python program does not close."
When I start a remi app twice in one program, the second time does not exit on App.close(). It appears to stay in serve_forever() until I ctrl-c in terminal. This happens in remi versions 2021.3.2 and 2021.3.2.post5+gabcb0d5 , on windows 10 and raspbian, python 3.9.1.

context - I'm trying to use remi for a web interface in a larger command line program. It launches the remi app from a user action

[2021-06-19 05:10] dddomodossola commented on #453
Hello @c-rodwell , the problem is caused by the Web page that remains open and keeps the websocket thread running. This prevents the app to exit. Look at issue #452  , you will find a working example that forces the Web page to close, modify it to run two instances and please let me know if this works ;-)

[2021-06-19 09:21] c-rodwell commented on #453
It looks like the same issue happened except that the windows closed now. I copied that example and changed main to:

if __name__ == "__main__":
    start(MyApp)
    print("first app completed")
    start(MyApp)
    print("second app completed")

When I click close in the first app, it closes as expected. On the second close button,  it prints "I'm going to be closed." but does not reach the "seco

[2021-06-22 12:53] dddomodossola commented on #453
Hello @c-rodwell ,
I am able to reproduce the problem. I suggest you to run the two server instances by separate processes. I think that running the two instances as you did above, you can get strange behaviour.

[2021-06-24 13:34] 18945015490 opened #454 "I need help with remote access"
I am new to this and have just created my first project. But it only works on one device. How can I get it work on more devices?

[2021-06-24 13:46] dddomodossola commented on #454
Can you please show your script?
Are the devices on the same network?

[2021-06-25 23:12] PySimpleGUI opened #455 "Is there a function similar to main that is called when remi.start() has completed setup?"
Long time no questions from me so things are going great!

I have a  question about the startup protocol.

My assumption, that I now believe is incorrect, is that the `main()` member function will be called once the `start()` operation has completed.

In the MyApp class, I'm signaling that the startup has completed when the member function `main` is called.  It appears that this function is called

[2021-06-28 08:03] dddomodossola commented on #455
Hello my friend,

I hope you are fine! Here there were bad moments but now the situation is
going better.
At first instance I could reply you that there is not a specific function
that gets called before a client connection. But maybe we can find out a
solution. Can you please explain me what you want to do exactly? Why you
need this? A specific use case can help to invent a solution.

Have a wond

[2021-06-30 07:44] nrobbert commented on #455
Hi both,

Hopefully, it may help if I explain where this came from :) I raised this as a question to Mike on the PySimpleGUI project here - https://github.com/PySimpleGUI/PySimpleGUI/issues/4451

This is for a project of mine running on a Raspberry Pi. It has a local PySimpleGUI interface on a SPI-connected screen, but also hosts most of the same interface on a web page (hence the use of PySimpleG

[2021-07-01 07:32] dddomodossola commented on #455
Hello @nrobbert ,

To be sure to correctly understand your question, let me rephrase the situation:

You have an application that needs to do some work (spi communication with devices and so on) regardless if GUI interfaces are shown. So you need to start some activities before to run the gui threads.

If so, you need to start a separate thread to be run before the gui initialization, then share t

[2021-07-01 14:30] nrobbert commented on #455
Hi Davide,

Thanks for looking at this!

Yes, I have a main loop accessing SPI devices, serial devices etc and performing the main task of the application. There is a local GUI which is checked regularly for button presses, but also updated regularly with latest information. The web GUI is also checked regularly for presses, but is also updated regularly with latest information. I have tried readi

[2021-07-01 14:53] PySimpleGUI commented on #455
Thank you very much Nick for jumping into and driving the whole thing forward.  I really appreciate the time and effort you've been putting in to help.

[2021-07-05 12:42] dddomodossola commented on #455
@nrobbert Excuse me for the delay.

So, I think that you should not update directly the gui. The external thread that handles connections (spi and so on) should create and update a shared data structure. The GUIs, will update its own widgets when ready, just by reading the shared data structure. This way, the external thread is not blocked, and will constantly feed information to the shared struct

[2021-07-06 09:25] nrobbert commented on #455
Hi Davide,

Many thanks for looking in to this. I was heading in the same direction as you, to run them in separate threads/processes and share the data and events between them. That way, the GUIs can sit idle when they are not actively updating or being used.

Thanks again to both of you for the support! It is much appreciated.

Nick

[2021-07-09 01:06] c-rodwell commented on #453
Thanks for looking. My interface doesn't really need to be on web so it's not a big deal for me. I might try running the servers in another process or other work arounds. I think I should leave this open since it acts not in the way I would expect, but up to you.

[2021-07-09 06:12] dddomodossola commented on #453
;-)

[2021-07-19 03:45] eitchtee commented on #183
Old thread, but in case anyone ever stumbles upon this issue like I did, a simple fix for missing resource files when packaging with PyInstaller is to edit your `.spec` file as follows:

Add this to the top of the file so you can use the site-packages folder location later on

[code]

And edit the `datas`  part as follows

[code]

Now PyInstaller will include a `remi/res` folder with all the neces

[2021-07-19 05:32] dddomodossola commented on #183
Thank you a lot @eitchtee

[2021-07-23 04:35] rf commented on #161
This is still an issue :( Could you possibly point me in the right direction to fix?

[2021-08-01 14:33] wzcwzc05 opened #456 "Translation"
Can I translate the project into Chinese?

[2021-08-01 16:13] dddomodossola commented on #456
Hello @wzcwzc05 It would be wonderful. What you want to translate, the readme file or the code comments?

[2021-08-02 00:26] wzcwzc05 commented on #456
The readmefile is enough, we also want to write some instructions about it.The project is so wonderful. hhhhh

[2021-08-02 05:20] dddomodossola commented on #456
Thank you a lot 🥳

[2021-08-02 21:28] caco3 opened #457 "TextInput event hangs on non-basic ASCII characters"
I have a simple application with a TextInput field.
Whenever a key gets pressed, I want to get an event.
This works fine until I enter a non-basic ASCII character (ASCII code > 127), eg. a character like `ä` (Code 132 on  https://theasciicode.com.ar/extended-ascii-code/letter-a-umlaut-diaeresis-a-umlaut-lowercase-ascii-code-132.html)

Example application to reproduce it:
[code]

When I eg. enter t

[2021-08-02 21:48] dddomodossola commented on #457
@caco3 thank you a lot for reporting, I will fix it as soon as possible. Can you please report also your browser, python version, system?

[2021-08-03 05:35] caco3 commented on #457
I am running Ubuntu 20.10 with Python 3.8.10

Let me know if you can also reproduce it on your side. Else I will also try to test it on other systems.

[2021-08-03 07:47] dddomodossola commented on #457
@caco3 I pushed a bugfix on master branch, can you please test it?
It seems that an old fix about string encoding is no more required, sice javascript side and python server uses the same encoding.

[2021-08-03 14:48] caco3 commented on #457
@dddomodossola Thank you very much!
Indeed this fixes the issue!

[2021-08-03 14:48] #457 closed

[2021-08-03 21:00] caco3 opened #458 "Run it in a docker container"
Has somebody succeeded to run a remi app in a docker container?
I am simply unable to connect to it :(

As I can see, others had struggle before, but that was 4 years ago: https://gitter.im/dddomodossola/remi/archives/2017/02/02

[2021-08-03 21:09] caco3 commented on #458
Hehe, just got it working :)

@dddomodossola, your 4 year old hint and https://stackoverflow.com/questions/54101508/how-do-you-dockerize-a-websocket-server/54102318 helped me.

All one has to do is to start the server with IP `0.0.0.0` instead of the default `127.0.0.1`.

Eg.:
`start(remi_gui.Gui, address="0.0.0.0", port=8081, multiple_instance=False, enable_file_cache=True, update_interval=0.1, s

[2021-08-03 21:09] #458 closed

[2021-08-03 21:32] dddomodossola commented on #458
@caco3 thank you very much for sharing, this will help other user for sure ;-)

[2021-08-05 20:54] caco3 opened #459 "key events on listview"
It would be great to navigate through a `listview` by keys (up, down).

I think of different ways:
 - support a `onkeydown` event
 - handle it internally and directly select the next/previous item (but also trigger `onselection` event)

Bonus:
- on a long list with scrollbars, if the selection goes out of view, scroll up down so the selected item is in view again.
- Support  `scroll to key/value`

[2021-08-05 21:24] dddomodossola commented on #459
@caco3 this is a good idea, but I think that arrow keys should not change the selection. The arrows should allow navigation between elements (list view scroll) and selection should be changed by SPACE or ENTER. This is because sometimes selection is an important activities (think about an industrial machine setup), and requires an additional command. What do you think about this?

[2021-08-05 21:32] caco3 commented on #459
I understand your point. How ever on most other GUIs one can change the selection in a (focused) list with up/down keys.

What do you think by simply providing a key press event like we have it on a `textinput`? Then the user would be free to use it in what ever way he wants.

My usecase:
I created a photo album editor. A user can set a comment for each photo. There is a listview listing all photo

[2021-08-05 21:36] dddomodossola commented on #459
List view should already be able to receive key down and key up events, doesn't it?

[2021-08-05 21:57] dddomodossola commented on #459
@caco3 I will look into this tomorrow and provide you an example ;-)

[2021-08-06 05:39] caco3 commented on #459
No, it doesn't work (eg. `onkeyup`) nor is it documented.

Thank you for looking into it. Your framework really is cool!

[2021-08-06 07:45] dddomodossola commented on #459
@caco3 here is an example for you:

[code]

[2021-08-06 20:09] caco3 commented on #459
Dear @dddomodossola
Thank you very much for your quick and helpful response!
Indeed this is what I wanted!
Now as you showed the `tabindex` thingy, I also see it in the documentation (I wasn't carefully enough to also check the parent widgets documentation :(

Now, there is just one thing left:
When the list is so long that scrollbars are needed, a key Up/Down will also scroll it.
How ever I don't

[2021-08-06 22:26] dddomodossola commented on #459
Unfortunately remi has no documentation and so, no worries to ask me for help.

About scroll bars there should be a solution. However, for your use case maybe a listview is not perfectly suitable. Maybe you can easily construct your own thumbnail preview gallery, by simply using an HBox (or VBox I you need it vertically), and simulate navigation by appending and removing elements by key press. May

[2021-08-07 17:06] caco3 commented on #459
Thanks, it is fine for me as is right now!

As for the documentation:
Have you thought about using a wiki for the documentation?
An ideal place to host (generated) project documentation is https://readthedocs.org. It free for opensource projects.

How ever I think maybe a wiki form would be better where others can provide explanations by themself. Github provides one automatically: https://github.

[2021-08-10 05:52] dddomodossola commented on #459
You are welcome ;-)

The wiki is a good idea.

I already planned to move the project to an organization account. I have already created https://github.com/orgs/rawpython and https://github.com/orgs/the Open Place, I should choose in which one of the two organisations I will move remi.

Have you tried the remi graphical editor? https://github.com/dddomodossola/remi/tree/master/editor

[2021-08-17 14:56] m-kareem commented on #452
Thanks @dddomodossola , this solved the issue. I am closing it now. All the best.

[2021-08-17 14:56] #452 closed

[2021-08-17 15:04] m-kareem opened #460 "How to override the displayed rotating rectangle in the browser when the remi server is down"
Hi @dddomodossola,

I am wondering if there is an easy way to modify what to display in the browser when the remi web server is down. By default there is a gray rotating rectangle being displayed. For our project we would like to display a message to the user to check the connections, background processes or the log files to debug the probable issue.

Thanks for your support and best regards.

[2021-08-17 15:17] m-kareem commented on #412
Hi @dddomodossola ,

I am using remi (2021.3.2) with Python (3.8.8) on macOS 11.3.1, and I am getting this message every time I run my GUI:

`.../site-packages/remi/gui.py:2780: DeprecationWarning: The unescape method is deprecated and will be removed in 3.5, use html.unescape() instead.
  def value(self): return unescape(self.attributes.get('value', '').replace('&nbsp;', ' '))`

I though this mig

[2021-08-22 16:16] dddomodossola commented on #460
Hello @m-kareem ,
Here is an example for you:

[code]

[2021-08-22 16:28] m-kareem commented on #460
@dddomodossola thanks a lot Davide, perfect and effective support as usual.

[2021-08-22 16:28] #460 closed

[2021-08-22 16:28] dddomodossola commented on #460
😉👍

[2021-08-24 06:16] occoder opened #461 "A link to another page"
Hi
I'm referring to the example widgets_overview_app.py where a hyperlink instance points itself.
I don't know if it is possible to let the link point to another page which is served by a separate route?
If no, what is the main purpose of the link widget?
Thanks

[2021-08-24 08:27] dddomodossola commented on #461
Hello @occoder ,
It is not possible to link to another "page" of a remi application. The purpose of the self-pointing-only link widget is just to show that a link can open an url, but I understand that it can cause misunderstanding.
A remi application has to be considered exactly as a standard gui program, not as a website.
When you want to switch to a different "page", you have to replace the roo

[2021-08-31 02:28] AmirHmZz opened #462 "Change font of text"
how to change font of text in remi ? I know fontfamily can be set but my main question is how to add a custom font family from a woff file ?

[2021-09-02 21:31] #193 closed

[2021-09-09 16:10] yaochx opened #463 "how to support js scripts in remi framework"
I haw few dev experience on web ui, here's a probing question.
Is it possible to insert the following code in remi gui, or how to support js scripts in remi framework?
[code]

[scripts/app.js](https://raw.githubusercontent.com/mdn/web-dictaphone/gh-pages/scripts/app.js)

I'm finding solutions to use js code to record audio in remi demo

Thanks in advanced

[2021-09-13 13:22] dddomodossola commented on #463
Hello @yaochx ,

In the example script "template_advanced_app.py" https://github.com/dddomodossola/remi/blob/master/examples/template_advanced_app.py you can find a section to append custom css and js:
[code]

Here you can add custom js code or a link to js files. ;-)

Kind Regards.

[2021-09-13 13:47] dddomodossola commented on #462
@AmirHmZz , excuse me for the late reply.
You have to add a resource folder, and put the font file in it. Additionally you have to override the default style.css file, linking in it to the new font.

In the following example I have the following directories:
[code]

[code]

[code]

[2021-09-14 23:13] Axel-Jacobsen opened #464 "Re-render GUI during button callback"
Hello! I have been tinkering around with Remi and have found it enjoyable.

I have a quick question involving re-drawing GUI elements during a button `onclick` callback.

My callback looks something like this:

[code]

The intended behavior is as follows:
- button is clicked
- button text changes to "I am doing work"
- the function that does work and takes a while does it's thing
- once the functi

[2021-09-14 23:36] Axel-Jacobsen commented on #464
And in case anyone is interested, here is the threading stuff.

[code]

[2021-09-15 00:42] #464 closed

[2021-09-19 03:37] yaochx commented on #463
Many thanks to @dddomodossola
I will have a try

[2021-09-19 03:37] #463 closed

[2021-09-24 03:40] justwdh opened #465 "fix cannot support play mp4 static file in safari browser."
fix cannot support play mp4 static file in safari browser.

[code]

before

[code]

after

[code]

[2021-10-03 10:35] Antonio0307 commented on #456
u have a lot of fans in china,but I want to see the video Course  :  )

[2021-10-03 10:38] Antonio0307 commented on #456
we need a lot of example ,but example too few....................................

[2021-10-03 10:39] Antonio0307 commented on #456
其实，我希望看到一些综合例子，特别是那个编辑器的使用，现在看起来比较累，而且写的有些不清不楚的。谢谢你的翻译。

[2021-10-03 10:43] Antonio0307 opened #466 "I want to embed VLC in the browser，I don't know, any examples？"
I want to embed VLC in the browser，I don't know, any examples？

[2021-10-03 16:12] dddomodossola commented on #456
Maybe one day I will find out some spare time to create video courses. What you need to know?

[2021-10-03 16:14] dddomodossola commented on #466
This is not a remi specific question. What is your project?

[2021-10-03 16:14] dddomodossola commented on #465
Thank you, I will study and embed this ;-)

[2021-10-04 02:34] Antonio0307 commented on #456
Use of the editor........video courses....... thank you very much!!

 I'm going to travel to  Wuhan , these days are National Day : )

[2021-10-04 02:40] Antonio0307 commented on #466
Sorry, my English is not very good.I want to embed a VLC player in REmi,but, I don't know what to do.......I'd like to see some examples of this, if any.....
Thanks for your  reply ! : )

[2021-10-04 05:42] themayankjha commented on #466
you cannot as per say embed vlc in a browser. also It's not possible any more. It used to be possible with FLASH, but flash is no longer supported. You must use a format that is supported like HLS or DASH.

source :- https://stackoverflow.com/questions/60124729/how-to-show-rtmp-live-stream-in-web-browser

[2021-10-04 14:46] Antonio0307 commented on #456
on the use of the editor.... more detailed explanation....video courses....... thank you very much!!

Because it is simple and easy to learn，in some schools ，especially in middle school,teachers think it's verygood! can kids quickly learn how to build a small web page,It is very helpful to improve interest in study.

I'm going to travel to Wuhan , these days are National Day : )

[2021-10-06 02:53] wzcwzc05 commented on #456
已经在了，https://github.com/LightStarlight0/remi，欢迎你们加入我们翻译的团队，我们是一群高中生时间不是特别丰裕
另附：examples已经翻译了一部分了，remi的教程也在我的个人博客里http://www.wzcwzc.cool/

[2021-10-07 02:42] rowlesmr commented on #339
I'm probably going to pinch this example to make plotly figures.

The only difference is (appears to be!)

[code]

[2021-10-11 05:45] Antonio0307 opened #467 "ask for help"
I have two rtmp"a and b ",there is a screen in the browser,I want two buttons source of switch,
how make?

[2021-10-11 05:50] Antonio0307 commented on #467
from remi.gui import *
from widgets.toolbox_opencv import *
from remi import start, App

list = ["u.mp4"]
class untitled(App):
    def __init__(self, *args, **kwargs):
        #DON'T MAKE CHANGES HERE, THIS METHOD GETS OVERWRITTEN WHEN SAVING IN THE EDITOR
        if not 'editing_mode' in kwargs.keys():
            super(untitled, self).__init__(*args, static_file_path={'my_res':'./res/'})

    de

[2021-10-14 06:47] Antonio0307 commented on #467
Again,you see a screenshot, red circle ,I'd like to adjust the size,size parameter,where is it in the editor?
------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "dddomodossola/remi"                                                                                    ***@***.*

[2021-10-14 12:59] dddomodossola commented on #467
@Antonio0307 I have not seen any email yet. I suggest to attach the screenshot here, drag and drop the image

[2021-10-15 01:37] Antonio0307 commented on #467
How to get?  How do I write it in code?  Can you give me a simple example?

[2021-10-15 20:56] gcartlidge opened #468 "Password for PEM file"
Hi All,

I'm currently designing a tool for another software to do background tasks that allows stopping the services for that software.

When starting the web server part of remi, I have a .pem file (that is password protected), a .key file and a .cer file (not password protected).

It works perfectly with the .cer and .key files.

I belive the certfile section of the server supports .pem files w

[2021-10-15 22:02] gcartlidge commented on #468
Hi dddomodossola,

Im actually looking at the code now (I got bored).
It looks like there was a new argument introduced in SSL itself of 'password' when it does load_cert_chain.

It looks like it would be just adding this as an argument in the __init__ 's and start (of server), which would then pass it along to load_cert_chain:
`SSLContext.load_cert_chain(certfile, keyfile=None, password=None) `
b

[2021-10-22 23:31] reryro opened #469 "Firefox handling of nested MenuItems"
I have a question about the operation of MenuItem -- specifically, nested MenuItems, i.e., MenuItems appended to another MenuItem. This pertains to Firefox only: When using a mouse to navigate the screen it works fine -- as soon as you point to the upper level item, the nested list of items appear and you can then select the desired one. However, in a touch-screen environment, the user has to know

[2021-10-30 11:13] Antonio0307 opened #470 "中国的朋友，请您加QQ群555947204，我们共同探讨学习。"
中国的朋友，请您加QQ群555947204，我们共同探讨学习。

[2021-11-01 09:54] dddomodossola commented on #469
Hello @reryro , I pushed a fix to the master branch. Can you please give it a try and eventually close the issue?
Now MenuItems open with mouse click instead that mouse hover event. This allows a better user interaction.

[2021-11-02 07:58] reryro commented on #469
Davide, thanks so much for this; it worked for me just as you described.  I have two questions, if you don't mind...

After I installed your updated code, I couldn't see any change in the browser, even though I had rebooted the server, closed and reopened the browser, cleared the browser cache, restarted the app again -- nothing worked until I changed the port number in my code to force Chrome to

[2021-11-02 08:14] dddomodossola commented on #469
Hello @reryro ,
As you correctly did, it is only required to refresh the cache to make it working. I know that you cleared the browser cache and got no effect, but there is nothing magic, it had to work. I only changed 3 css lines and an html attribute.

Previously the menu item was closing by moving out the mouse cursor. Now it is required to lost the focus. So, to make the menu to close you need

[2021-11-02 21:01] reryro commented on #469
Yeah, I don't know what happened with the data refresh; it didn't make any sense to me, either.

As for the menu disappearing upon selection, in my app, music play functions are activated by various menu selections, so no further screen changes occur. Since it really doesn't make sense to require the user to click again to clear the menu, what would you suggest would be the best way to simulate a

[2021-11-02 22:52] dddomodossola commented on #469
@reryro I have to distinguish a click to a leaf menu item instead of a click to a menu item that has children. When clicking on a leaf, the menu should close. This could be a solution, doesn't it?
I should be able to make this in the weekend.

[2021-11-03 02:25] reryro commented on #469
"This could be a solution, doesn't it?"

I would have to withhold judgment until I see the result.  In my mind, it
seems that a menu should fire an event and close. If the menu element has
children, then their listener would redisplay the menu (to their level)
until their onclick event fires. I'm sure I'm over-simplifying, but that
seems to be how I've seen menus behave in the wild. Do you see it

[2021-11-11 12:18] Wouter1 opened #471 "widgets in table"
I need to put hyperlinks, text with layout (gui.Label) and buttons in tables. I can also see use of placing other widgets like checkboxes in a table.

How do you put widgets in a table?

[2021-11-11 15:56] Wouter1 opened #472 "standalone close button"
MacOS, Catalina and Big Sur:
If you run a standalone application, and click the close button of the window (top left, red X button) the app does not close. command-Q works . I tried several suggestions for the code like  ​https://github.com/dddomodossola/remi/issues/453 and  ​https://github.com/dddomodossola/remi/blob/master/examples/onclose_window_app.py but nothing ever triggered even the close

[2021-11-12 10:55] gbrault commented on #430
Hello, I am interested by this feature, which branch of Remi should I take ?

[2021-11-12 11:13] batzkass commented on #430
Hi,
You can clone the `url_root` branch on my fork to get this feature : https://github.com/batzkass/remi/tree/url_root/remi
95% of the work is done, however I'm still waiting on Davide to make the final integration. Meanwhile, it's a bit dirty as you must set the (same) `url_root` at two places:

- into your child `App` constructor with the new kwarg "`url_root`" ([see implementation here] (https

[2021-11-12 11:34] gbrault commented on #430
@batzkass : thanks!

[2021-11-13 20:38] dddomodossola commented on #471
Hello @Wouter1 ,

To add widgets to a table you should first append them into a TableItem , and then append the table item to a Table.
Here is an example:

[code]

[2021-11-13 20:39] dddomodossola commented on #472
@Wouter1 Unfortunately I cannot test on MaxOS. However I suggest to not use standalone.

Kind Regards

[2021-11-14 18:23] gbrault opened #473 "Remi + Jupyter Lab"
@dddomodossola : Many thank for your work.

Some time in Jupyter, you need to develop user specific UI and you can use

-   Ipywidgets and Voila
-   Or Remi, using a Remi fork: https://github.com/gbrault/remi

It still is in development, but if you are interested, I can open a pull request, let me know.

[2021-11-16 08:44] Wouter1 commented on #472
I'd like to remark that one of the main reasons for me to use remi is that it creates BOTH a webapp AND a standalone.

So, Is the remi stand-alone running possibilty officially supported ?

I'll investigate further into the issue with the standalone runner on big sur. I suspect that the person that reported it to me did just not notice that the standalone window opened behind some other windows (w

[2021-11-16 12:12] Wouter1 commented on #471
Great that this is possible, thanks! Might be a good idea to include this with your examples,

[2021-11-22 21:59] dddomodossola commented on #473
@gbrault Many thank you too for your wonderful work on the pull request 475 .

[2021-11-22 22:12] dddomodossola commented on #469
@reryro Now should be fixed, thanks for the patience. If you can, please give it a try and let me know your opinion.

[2021-11-22 22:22] dddomodossola commented on #472
@Wouter1 I see your point of view. Remi works on almost every browser as a remote or local GUI, with a look n feel and an API identical (and maybe better) than other GUI libraries.
The "standalone" running ability is just a simple api that allows to hide the browser window and look a bit less web.  This is possible thanks to third party lib like pywebview. Unfortunately, such libraries can be affe

[2021-11-22 22:23] dddomodossola commented on #471
@Wouter1 Thank you for the suggestion. I have to rework some examples, maybe I will include this too.

[2021-11-22 22:23] #471 closed

[2021-11-22 22:24] #468 closed

[2021-11-22 22:31] reryro commented on #469
I'm across the country from my PC and Pi until next week -- I will check then & will be sure to let you know.  Thanks!

[2021-11-22 22:32] dddomodossola commented on #467
Hello @Antonio0307, here is an example for you. In this example, the first tab gets resized.

[code]

I hope this can help you.

[2021-11-22 22:32] #466 closed

[2021-11-23 08:43] Wouter1 commented on #472
@dddomodossola
Thanks for the clarification.
I understand that bugs in  pywebview are out of your control.

But if you detect a bug in pywebview that impacts remi's behaviour, I suppose you file a bug report with pywebview?

Assuming pywebview properly supported, bugs would be ironed out that way? If not, would it be worth considering using a better supported standalone tool?

[2021-12-13 12:53] Wouter1 opened #476 "security and remi on production server"
I read on the main page the quote below.
This is a deal breaker, because writing a web application is, in the end, to put on the web...

Is it possible to make this more secure?
Or, what the tips like "not expose its access" or "when loading data from external sources" actually implies? How would I even know what Remi accesses internally regarding external sources?

May I suggest giving  examples

[2021-12-13 12:56] Wouter1 commented on #476
Not sure if it helps, but I got a message from the security team indicating that a Nessus scan showed issues with the Remi application. My aplication itself is a very simple page with a few buttons and combo boxes only.. Hard to imagine at this level what a Nessus securtiy error even means.

[2021-12-14 07:48] awesomebytes commented on #476
I may be wrong, but my belief is that this project aims to provide a way to
make apps to control or monitor things in a controlled environment. Kind of
a development or debugging interface. Not a real website for the world to
visit. I think of an intranet configuration interface or a robot management
interface.

I haven't followed the changes on the codebase for a while, however, my
understanding

[2021-12-14 08:13] Wouter1 commented on #476
@awesomebytes
For me the idea is that you can make an application that runs both standalone (=secure, special users,  and for testing) and can be deployed (for general use/demos/SAS etc).

I don't want to do "web development". I'm writing a simple app, not a web system. That's why this tool seemed so useful. It takes away all that "web development" stuff (servers, browsers, server/client side stuf

[2021-12-19 23:00] dddomodossola commented on #476
You are both right my friends. Remi is not intended to make websites. It is made for local or intranet interfaces. So, it is safe to use it in a safe network. To use it remotely consider using a VPN, a proxy and so on to obfuscate and protect the server.

[2021-12-20 11:20] Wouter1 commented on #476
@dddomodossola thanks.

Can you clarify a bit further? I'm primarily cncerned with security on the server side. I have this simple app with a few buttons and text input fields. The text is processed on the server, in python, to extract some features. If we would use a VPN or proxy as you suggest, would it really be secure or just that it looks superficially to be more safe? So, would the inherentl

[2021-12-22 10:20] #473 closed

[2021-12-22 10:30] dddomodossola commented on #476
@Wouter1 using a VPN you makes the application accessible only by trusted clients, so the security is implicit.
Nonetheless, you can limit the application to be accessible only on local machine, by configuring a server address as 127.0.0.1 .

[2021-12-22 10:54] Wouter1 commented on #476
@dddomodossola  It seems there is a  misunderstanding. By "putting it on the web" I do mean public. And certainly not localhost.

So there is no "trusted client" at all.

[2021-12-22 11:02] dddomodossola commented on #476
@Wouter1 ok I understand, but remi is not intended to be used this way. I'm afraid, you need a website in this case.

[2022-02-21 08:07] rf opened #480 "REMI does not properly handle websocket messages split into multiple frames"
It appears that when the browser chunks a large callback message into multiple frames, REMI does not properly reassemble the frames, resulting in a truncated message.

In particular I have an app with a button and a large `TextInput`. It's used for a tool where someone can import a large dataset into my application. When they paste a large `csv` into the box and click the button, we use the value

[2022-02-21 09:18] dddomodossola commented on #480
Hello @rf ,

Thank you a lot for collaborating on this project. I will try to reproduce the problem this late evening and check your pull request.
The problem is of course to be fixed. However for your specific project, I suggest you to use FileUploader widget instead of copy and paste in a TextInput.

[2022-02-21 10:48] rf commented on #480
We actually have a wrapped text input that allows either, so we have a workaround. Thanks for the quick response!

[2022-02-21 23:20] dddomodossola commented on #480
Hello @rf ,
You made me not to sleep tonight :-D .
Please look at the last commit. I fixed the problem by using the websocket fin bit. That bit indicates when the message is completely received and can be parsed.
Please give it a try and let me know if works for you.
Kind Regads

[2022-02-21 23:38] rf commented on #480
Haha, thank you so much for taking a look at this!

Websocket fin bit definitely sounds like the right solution. I'm not super familiar with WS protocol.

I'm still able to get an error when editing my input with a bunch of data, though. Now I'm seeing this:

[code]

So maybe data is not getting properly unmasked?

[2022-02-22 16:48] amiracam opened #482 "how to use remi with utility driven CSS such as Tailwinds"
Tailwinds is all about specifying inline tags via the construct

class="etc etc"

so if I have a Remi component , is there a way of specifying a string to it that effectively amounts to doing the "class="tag tag tag"  in the generated html ?

a better example would be:

<h1 class="text-2xl font-bold mt-8 mb-5">

thanks

-Charles

[2022-02-23 10:26] dddomodossola commented on #482
Hello @amiracam,

you can add classes by doing:

    mywidget.add_class('text-2xl')
    mywidget.add_class('font-bold')

or you can specify classes in constructor:

    mywidget  = Widget(_class='text-2xl font-bold')

Regards

[2022-02-23 10:31] dddomodossola commented on #480
Hello @rf,

can you please provide me a file containing the data that causes the problem?

[2022-02-23 13:51] amiracam commented on #482
thank you, this is perfect, very well thought out framework.
I've gotten so sick of this whole JS ecosystem, I find it a mess. Instead, using a Kivy/ KivyMD to deliver desktop/mobile and then using Remi to deliver web pages is so very much straightforward and clean. I just bumped into Remi , I think that the "web/browsers" and desktop/mobile are two viable but separate venues. Now with Remi, I fee

[2022-02-23 14:03] dddomodossola commented on #482
You are welcome 😉

[2022-02-23 18:58] rf commented on #480
Sure, use this:

[code]

And paste > 65k of data into the text box (e.g. use https://www.lipsum.com/ to generate 80kb of lorem ipsum). Then, make a few edits to the text (just add spaces a few times) and check console. After about 4 edits I see the bug. Browser is `Version 98.0.4758.102 (Official Build) (x86_64)`. Browser version probably matters as it's up to the browser whether it would like to

[2022-02-25 21:29] rf commented on #480
I figured it out, it was indeed because of an issue with the unmasking.

[2022-02-26 20:20] #480 closed

[2022-03-07 10:08] vaope commented on #395
Hi,i wish to dispaly my camera which is being processed by opencv but i don‘t know how to do it with remi.Could you provide more details or point to an example of how I could do your first suggestion?Thank you.

[2022-03-07 11:56] dddomodossola commented on #395
You can use the Editor. It contains opencv video widget.
Take a look at this https://www.youtube.com/watch?v=WqwWrETtLfU
In this example it is used an opencv image widget. You should instead use the Video.

[2022-03-07 13:57] vaope commented on #395
Thank you,it help me a lot.

[2022-03-09 22:46] michael10297 opened #484 "python remi build an App to connect douban.com but can't download jpg from douban.com"
I create an App by python remi to connect douban.com and download some jpg. but fail and shows
'
[https://movie.douban.com:443](https://movie.douban.com/) "GET /subject/1949521/ HTTP/1.1" 200 None
urllib3.connectionpool DEBUG    Starting new HTTPS connection (1): movie.douban.com:443
urllib3.connectionpool DEBUG    [https://movie.douban.com:443](https://movie.douban.com/) "GET /subject/1949521/com

[2022-03-10 11:56] #484 closed

[2022-03-10 11:57] michael10297 commented on #484
mistake on a variable.

[2022-03-10 14:25] dddomodossola commented on #484
Well done ;-)

[2022-03-21 07:55] Ambassador-pi opened #485 "How does the Remi server page keep accepting requests from 77.111.244.11?"
How does the Remi server page keep accepting requests from 77.111.244.11?
remi.server.ws   INFO     connection established: ('77.111.244.11', 45063)
remi.server.ws   INFO     handshake complete

[2022-03-21 09:19] dddomodossola commented on #485
It depends on the parameter of the function **start()**. If you do **start('0.0.0.0')**, remi listens on all interfaces. If you set a specific ip address,  remi will listen only on that specific one.

[2022-03-22 04:41] mo-han opened #486 "[Question] How to run a REMI app (python script) without console?"
even in "standalone" mode, there is a console together with the GUI window.
any way to get rid of that console?

[2022-03-22 09:09] dddomodossola commented on #486
Run the script with pythonw.exe instead than python.exe.

[2022-03-22 09:24] #486 closed

[2022-04-01 02:39] Antonio0307 opened #487 "Question about playing RTSP."

[2022-04-01 05:03] Antonio0307 commented on #487
Play the camera RTSP on the Web  ，however, the video pause......pause.....pause,I don't know what the problem is........Could it be a thread problem?How to solve it?        Another question  "videoplay",Whether RTSP can be played？

[2022-04-01 05:06] Antonio0307 commented on #487
![QQ图片20220401130557](https://user-images.githubusercontent.com/91074713/161198380-ba6566e8-a853-4bab-bb5a-5449fece9920.png)

[2022-04-01 09:27] Antonio0307 commented on #487
It's a simple thing。I want to see the video from the camera on the Web。But OpencVVideo is very fluid, and VideoPlay doesn't work, oddly.  @[dddomodossola，thank you :)

[2022-04-07 15:14] dddomodossola commented on #487
Hello @Antonio0307 ,

I never played with RTSP. However, searching on the web I found this https://www.videoconverterfactory.com/tips/rtsp-html5.html .
At the top of the webpage it is written: "One can't directly play RTSP (Real Time Streaming Protocol) streams on HTML5 webpage since RTSP is not supported by the HTML5 <video> tag. But RTSP HTML5 playback is achievable if you transcode RTSP to HTTP

[2022-04-07 15:14] #485 closed

[2022-04-08 11:28] Antonio0307 commented on #487
thank you very much! I solved it yesterday.
It's simple. Set up the camera。
Of course, I'll study your plan carefully ： ）

[2022-04-08 11:33] Antonio0307 commented on #487
Your plan is obviously better ！
![src=http%3A%2F%2Fyanxuan nosdn 127 net%2F2f402915e3ad6156455fe7a818819dc9 jpg refer=http%3A%2F%2Fyanxuan nosdn 127 webp](https://user-images.githubusercontent.com/91074713/162427633-4e9ba1c8-f923-4a74-bf91-84d1f86cff58.jpg)

[2022-04-08 11:40] dddomodossola commented on #487
😉👍

[2022-04-23 07:44] Matt-wzy opened #488 "Is there any document about remi? I cannot find it"
As the tittle said, I cannot find any wiki or document about this great project.
And auto-fill function is not operate appropriate in my IDE (visualstudio code), it just cannot identify remi and report

` Import "remi" could not be resolvedPylance[reportMissingImports](https://github.com/microsoft/pylance-release/blob/main/DIAGNOSTIC_SEVERITY_RULES.md#diagnostic-severity-rules). `

I've installed

[2022-04-23 07:59] dddomodossola commented on #488
Hello @Matt-wzy , unfortunately there is still no documentation about remi. You can look at the examples, the remi source code and of course you can ask me. Additionally, you can use the Editor to design your interface easily.

Kind Redards

[2022-04-24 02:16] Matt-wzy commented on #488
@dddomodossola
Thank for your kind reply.
I do facing a problem here.
I'm dealing with the verification code, which I'll save in a specific location such as '/res/a.png' and then show on web. I want when user( only me exactly) click the image on the web the image refreshes (by saving another verification code image to '/res/a.png').

 But according to my search, there are two ways to make web brow

[2022-04-24 07:47] dddomodossola commented on #488
Hello @Matt-wzy ,
Instead of setting up the filename directly, you can use the load_resource function. It will load the content from file and upload it regardless of the filename:

    image = gui.Image(gui.load_resource("./res/mine.png"))

Or

   Image.set_image(gui.load_resource("./res/mine.png"))

You can find an example at https://github.com/rawpython/remi/blob/master/examples/resources_app.py

[2022-05-05 05:44] Antonio0307 opened #489 "Excuse me.Why can't local video play? How should I use "VideoPlay "? Thank you very much!"
![QQ图片20220505134027](https://user-images.githubusercontent.com/91074713/166868512-96cd2fb3-ad20-49ac-a385-857d732da0c3.png)

# -*- coding: utf-8 -*-

from remi.gui import *
from remi import start, App

class untitled(App):
    def __init__(self, *args, **kwargs):
        #DON'T MAKE CHANGES HERE, THIS METHOD GETS OVERWRITTEN WHEN SAVING IN THE EDITOR
        if not 'editing_mode' in kwargs.keys()

[2022-05-05 08:55] Antonio0307 commented on #489
self.templatetest = gui.VideoPlayer(
            video="https://prod-streaming-video-msn-com.akamaized.net/ba258271-89c7-47bc-9742-bcae67c23202/f7ff4fe4-1346-47bb-9466-3f4662c1ac3a.mp4",
            #poster='',
            autoplay=True,
            loop=True,
            type='video/mp4',
            style='left: 0%; top: 0%; width: 100%; height: 90%')
============================================

[2022-05-05 11:32] Antonio0307 commented on #489
I've taken care of it.................................................：）

[2022-05-06 14:00] dddomodossola commented on #489
Hello @Antonio0307 ,

Of course you can play local video files. Be careful about:
- supported file formats = Video widget supports the html5 file formats. Please look at this:https://stackoverflow.com/questions/5959833/what-are-all-the-formats-of-video-supported-by-html5
- resource path = for local files you should respect the remi resource filenames.

Example:

[code]

Kind Regards

[2022-05-08 10:24] Antonio0307 commented on #489
Thank you for your reply！：）

[2022-05-08 10:25] Antonio0307 commented on #489
Thank you for your reply！：）

[2022-05-15 06:48] #462 closed

[2022-05-20 15:18] Antonio0307 opened #491 "excuse me！ask you a question,timed task,refresh video source."
I have two video sources,I can use button selection.But I want to use a timer,20 minutes apart,automatic loop refreshes video source.Tried several ways, but failed. Thank you!!

# -*- coding: utf-8 -*-

from remi.gui import *
from widgets.toolbox_opencv import *
from remi import start, App
import time

class untitled(App):
    def __init__(self, *args, **kwargs):
        #DON'T MAKE CHANGES HERE,

[2022-05-21 03:09] Antonio0307 commented on #491
I thought of a way to do it, but I can't change the source. David, what did I do wrong?
![image](https://user-images.githubusercontent.com/91074713/169633034-370141e4-4e64-4a6f-83e4-03c190e0d77d.png)

[2022-05-23 12:16] dddomodossola commented on #491
Hello @Antonio0307 ,

Here is an example for you:

[code]

Kind Regards,
Davide Rosa

[2022-05-23 12:17] #487 closed

[2022-05-23 12:17] #470 closed

[2022-05-23 12:18] #467 closed

[2022-05-23 14:37] Antonio0307 commented on #491
I thought of a lot of ways,but,And finally.........finally......................, I'll use this.Thanks for your  reply.

[2022-05-28 21:42] stonebig opened #492 "compatibility with pyscript"
this is a naive question: would remi work in pyscript/pyodide environment ?

[2022-05-28 22:05] dddomodossola commented on #492
@stonebig
Interesting question, I never tried. However I doubt that pydiode can host a webserver in browser.

[2022-05-28 22:34] MaxMorais commented on #492
@dddomodossola I'm looking for the same answer!

No the webserver never will work on the browser

But, we can move the whole frontend to pyscript, but a different approach will be needed, like a remote DOM.

Another point is that the application can be isolated to work only on the browser, replacing access to local resources!

The advantage of pyscript, right now, us that you can replace the javas

[2022-05-29 05:48] dddomodossola commented on #492
@MaxMorais however the pydiode website mentions that it supports all the standard python library. So maybe sockets are supported?

[2022-06-04 17:35] MaxMorais commented on #492
@dddomodossola I'll try this on my side, to verify that hipotesis!

[2022-06-05 07:03] dddomodossola commented on #492
@MaxMorais ;-)

[2022-06-08 12:39] Antonio0307 opened #493 "......"

[2022-06-08 12:45] Antonio0307 commented on #493
<object class="vlc" type='application/x-vlc-plugin'  events='True' width="720" height="540">
        <param name='mrl' value='rtsp://admin:pawd@192.168.1.64:554' />//
        <param name='volume' value='50' />
        <param name='autoplay' value='true' />
        <param name='loop' value='false' />
        <param name='fullscreen' value='false' />
    </object>

[2022-06-09 06:30] Antonio0307 commented on #493
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
<object type='application/x-vlc-plugin' pluginspage="http://www.videolan.org/" id='vlc' events='false' width="720" height="410">
    <param name='mrl' value='rtsp://admin:mh123456@10.221.100.53/h264/ch1/main/av_stream' />

    <param name='volume' value='50' />
    <param name='autoplay' value='true' />
    <param name='loo

[2022-06-09 06:32] Antonio0307 commented on #493
![image](https://user-images.githubusercontent.com/91074713/172780124-722b10ca-078f-4944-9d9a-54fa24a73f87.png)

[2022-06-30 23:50] MaxMorais commented on #492
@dddomodossola

After some digging I found this

https://docs.pyscript.net/latest/reference/faq.html#why-dont-requests-and-black-work
![Frequently asked questions — PyScript documentation](https://user-images.githubusercontent.com/1288676/176796647-30cb9c0e-a355-4b5f-81ad-6073abb44629.png)

So, no comptibility to run a socket server on the browser

[2022-07-01 06:20] dddomodossola commented on #492
Hello @MaxMorais ,

Thank you for the information.
Why you say that Remote DOM is the right approach? I see an over complication, an additional step and an additional library in the middle.

[2022-08-02 04:36] jc508 opened #494 "ConnectionAbortedError: Windows"
Hi,
I am running Win10 Pro with anaconda.
Installed Remi is 2022.3.7
It is crashing on any close window. Reproducable with widgets_overview_app.py
I have tested with Edge and Chrome.
[code]
Any clues ?
JC

[2022-08-02 05:48] dddomodossola commented on #494
Hello @jc508 ,

That is a physiological traceback of the died websocket connection that naturally occurs when you close a browser tab. It is not a crash. If you open again the webpage at the same address you will see your application still running.

Kind Regards

[2022-08-02 23:04] jc508 commented on #494
Thanks @dddomodossola Sorry bad wording to mention 'crash' then
I used to be able to close the app by detecting the close window. (Using code you have previously published here or elsewhere.)
Now it wont close and I thought that was probably because of those errors which caused the signal/event to never get back to my code.
You are correct the app is still running - forever now.
I have got around

[2022-08-22 09:37] tellts opened #495 "GUI on Remy for mobile devices"
Please give examples on how to use Remy to create apps for mobile devices.

[2022-08-22 09:55] dddomodossola commented on #495
Hello @tellts ,

Here is an example for you. In the following code the application handles the window resize to adapt the layout on different screen resolutions. To verify its behaviour just resize the browser screen and you will see the layout change.

[code]

[2022-08-22 12:04] tellts commented on #495
Thanks to. Can you please tell me how to run this sample code on a mobile device?

[2022-08-22 12:10] dddomodossola commented on #495
The easiest way to run python on Android is using the QPython app. Of course remi can be used in any python capable device.

[2022-08-22 12:39] tellts commented on #495
These are 3 examples of how the code is run in this environment. Line breaks have been removed between commands.

[2022-08-22 12:52] dddomodossola commented on #495
Does it provide the possibility to install pypi packages? If so you can install remi and run your app

[2022-08-22 14:31] tellts commented on #495
If I understand correctly, this is not the way to do it. But I can ask the support service how to install the program from the distribution.
https://chaquo.com/pypi-7.0/

https://chaquo.com/pypi/

[2022-08-24 00:44] tellts commented on #495
Hello. Could you tell me what questions to ask correctly or ask there yourself, since I myself can’t do it quite professionally?
https://github.com/chaquo/chaquopy/issues/689

[2022-08-24 07:32] dddomodossola commented on #495
Hello @tellts ,
I think that they understood your question.
They told you that a configuration file has to be modified inside your Android device. I suppose you should use a text editor.
After editing the configuration file,  you should be able to do a pip install remi (maybe the chaquopy provides a console to write this command).

[2022-08-25 06:08] dddomodossola commented on #495
I think it is correct.

I suggest you to use QPython, it is easy to use and full featured.

[2022-08-25 07:45] tellts commented on #495
Qpython does not install on older tablets with Android 4.x

[2022-08-27 12:29] dddomodossola commented on #495
Do you really need to run the python script on the mobile device? Consider that remi is a Web Gui, it means that you can run the App on another device (a PC for example) and you can see thr interface on other devices in the network

[2022-08-28 09:39] tellts commented on #495
Hello. Yes, I wanted to be able to make programs in Python with the GUI, but at the same time, so that they were autonomous from the Internet.

[2022-08-28 10:18] dddomodossola commented on #495
Unfortunately I don't know about other solutions to run python on Android

[2022-09-14 15:12] Antonio0307 opened #497 "Excuse me，Callback function of button. How should I write?The body is successful.But button，I don't konw how to do this."
import remi.gui as gui
from remi import start, App
import os

class MyApp(App):
    def __init__(self, *args):
        res_path = os.path.join(os.path.dirname(os.path.abspath(__file__)), 'res')

        super(MyApp, self).__init__(*args, static_file_path={'myres': res_path})

    def idle(self):
        pass

    def main(self):
        my_html_body = """
        <body>
            <div>

[2022-09-14 19:36] dddomodossola commented on #497
Hello @Antonio0307 , you don't need to write html to make a button. Look at this very simple example https://github.com/rawpython/remi/blob/master/examples/helloworld_app.py

[2022-09-15 02:36] Antonio0307 commented on #497
Thank you for your reply！"https://github.com/rawpython/remi/blob/master/examples/helloworld_app.py" I know that way.But I want to know,in such "html",callback function of button,how to do it?

[2022-09-16 02:17] Antonio0307 commented on #497
“Callback function of button. ” ............... is it impossible to write in this mode？

[2022-09-16 13:24] dddomodossola commented on #497
Hello @Antonio0307 ,

Here is an example for you

[code]

Have a nice day ;-)

[2022-09-17 12:50] Antonio0307 commented on #497
Thank you very much for your quick and helpful response!!You are a master of “remi”! : ) What if there are several buttons ? "'emitter':str(id(self))"",I don't understand.It looks like a button id.I tried to do it, but it was wrong.

import remi.gui as gui
from remi import start, App
import os

class MyApp(App):
    def init(self, *args):
        res_path = os.path.join(os.path.dirname(os.path.abs

[2022-09-17 18:21] charles114 opened #498 "Hello, I have a program made with remi, and there is a problem with the page layout disorder between different devices. I look forward to your reply!"
Hello, I have a program made with remi. On the computer I developed, the layout of all web pages is normal.  But when the program runs on my other computer, the page layout is wrong!  What is the problem?  (The screen resolutions of the two computers are inconsistent) Looking forward to your reply!

[2022-09-18 08:11] Antonio0307 commented on #498
I've been in this situation before.All parts must be placed in containers.

[2022-09-18 13:17] Antonio0307 commented on #498
这个情况我遇到过，我后来搞定了。

[2022-09-18 14:03] charles114 commented on #498
Hello, I put all the controls in a container0.  So how should I set

[2022-09-18 14:04] charles114 commented on #498
How did you get it done?

[2022-09-18 14:06] charles114 commented on #498
Hello, I put all the controls in a container0.  So how should I set

[2022-09-18 14:29] Antonio0307 commented on #498
你还能说中文啊？

---Original---
From: ***@***.***&gt;
Date: Sun, Sep 18, 2022 22:04 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [rawpython/remi] Hello, I have a program made with remi, andthere is a problem with the page layout disorder between different devices. Ilook forward to your reply! (Issue #498)

您好，我有一个用 remi 制作的程序。在我开发的电脑上，所有网页的布局都是正常的。但是当程序在我的另一台电脑上运行时，页面布局是错误的！问题是什么？

[2022-09-18 14:30] charles114 commented on #498
可以呀

[2022-09-18 14:31] charles114 commented on #498
你是怎么搞定的

[2022-09-18 14:33] Antonio0307 commented on #498
你必须把部件放到hbox和hbox当中，哪怕是一个部件。另外尺寸要统一，不能这个用px那个用%。否则很容易出你碰到的问题。

---Original---
From: ***@***.***&gt;
Date: Sun, Sep 18, 2022 22:30 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [rawpython/remi] Hello, I have a program made with remi, andthere is a problem with the page layout disorder between different devices. Ilook forward to your reply! (Issue #498)

你能说中文啊？
 …
 ***@***.**

[2022-09-18 14:35] charles114 commented on #498
有微信不 ，一起交流下

[2022-09-19 02:25] Antonio0307 commented on #498
你找QQ群python remi .加下。

[2022-09-27 21:52] dddomodossola commented on #497
Hello @Antonio0307 ,
Excuse me for the late reply. str(id(self)) in this case is the identifier of the App class (the class who will receive the callback on button press). But it can be every remi widget.

Here is an example for multiple buttons:

[code]

Have a nice day ;-)

[2022-09-28 01:50] Antonio0307 commented on #497
Very strange！

@dddomodossola Thank you for your reply！Very strange，My solution is the same as yours，But,report errors.That's why I asked you.It seems that I will find my own mistakes.........

[2022-09-28 05:59] dddomodossola commented on #497
Which kind of errors you get?

[2022-09-28 07:54] Antonio0307 commented on #497
I found the problem. My mistake. I made a mistake

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "rawpython/remi"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年9月28日(星期三) 中午1:59
***@***.***&gt;;
抄送:&

[2022-09-28 07:59] Antonio0307 commented on #497
Thank you. I have another question.&nbsp;&nbsp;Bad reception on bullet train, ask later.&nbsp; ：）

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "rawpython/remi"                                                                                    ***@***.***&gt;;
发送时间:&n

[2022-10-04 10:14] Ali-RAFIEE opened #499 "Need a simple SAAS APP example with Remi"
Hi everyone,
I just discovered Remi for developing python applications for web use.
I need a simple example for the GUI of SAAS product using Remi.

in fact I would like to launch a python code from a remote pc (outside the pc on which the code is located), is this possible with Remi?

Thanks a lot
Ali

[2022-10-04 10:26] dddomodossola commented on #499
Hello,

Remi allows to create graphical interfaces for python applications. Such interfaces are accessible from everywhere in your network. I suggest to only expose such applications in private networks or VPN.

Kind Regards.

[2022-10-04 11:10] Ali-RAFIEE commented on #499
Thanks Davide,
I have some experiace with TKinter for standalone app, but now I need a tool like Remi to convert my codes to network user (in VPN format), so I think Remi can be appropaite for this purpose.

I need just a small script to found out how I can create an shared interface under SAAS form.
Thanks again

[2022-10-04 11:36] dddomodossola commented on #499
I would be pleaded to help you, but you should give me more details about the requirements. Remi allows to create ui. SaaS is a sw architecture to make an application running as a service, maybe giving it a REST interface. Here we have two different things.. what you want to do exactly?

[2022-10-04 12:30] Ali-RAFIEE commented on #499
I would like to create an interface for a code, that a user on our internal network can run it from his pc (remote access, without having access to the code, just by having access to the web interface), then the user can give and change some parameters and may be able to view results (calculation results) and some generated graphes.

[2022-10-04 15:36] Ali-RAFIEE commented on #499
I try one example on same wifi connection

I have GUI on my runing PC with this adresse http://127.0.0.1:8081/

but I can not see the same page from another PC.

it is not work for me!!

[2022-10-04 16:08] dddomodossola commented on #499
On the other machine you should access a different url. The ip address in the url must be the ipaddress of the machine running the application.
http://correct_ip:8081/

[2022-10-04 16:55] dddomodossola commented on #499
@Ali-RAFIEE did you got it working?

[2022-10-05 07:17] Ali-RAFIEE commented on #499
Thank you very much Davide
That works.

but is it possible to convert the access into a https secure access?
and also how can i get my code to run directly from a remote PC?

Thanks.

[2022-10-05 07:20] dddomodossola commented on #499
I'm pleased to help.
Of course it is possible to use https, but you need to create certificates.
You can run your program on every kind of machine, and you can access your interface from everywhere. What you mean for executing the code directly from the remote PC?

[2022-10-05 07:28] Ali-RAFIEE commented on #499
currently I run my code on my PC and I manage to have the Gui interface on another PC.
but in fact I would like to run the code directly from the remote pc without having to run it first on the PC hosting the code.

[2022-10-05 12:41] Ali-RAFIEE commented on #499
Do I have to keep the main interface open all the time on the server PC to run a code?

Indeed I want to have the first page which checks the username and password of each user, then if a user wants to do calculations he can perform and at the same time the software home page can accept multiple users simultaneously. Is it possible with Remi? Any simple example?

Thanks a lot

[2022-10-06 12:31] Ali-RAFIEE commented on #499
And last question:
should I create two separate pages, one for logging (verifying username and password) and another to give access to the user to run the main code?

and how can I manage to get multiple users working simultaneously with the same code but with different inputs and therefore different results to illustrate? should I generate a different port number for each new user?

if there is a

[2022-10-07 13:45] dddomodossola commented on #499
Hello @Ali-RAFIEE ,

Here is an example for you. It is an advanced example, I'm sure you can simplify it.

[code]

[2022-10-07 13:57] Ali-RAFIEE commented on #499
Hi Davide
**Thanks a lot.**

[2022-10-11 07:49] Antonio0307 commented on #498
你qq找python remi群

---Original---
From: ***@***.***&gt;
Date: Sun, Sep 18, 2022 22:35 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [rawpython/remi] Hello, I have a program made with remi, andthere is a problem with the page layout disorder between different devices. Ilook forward to your reply! (Issue #498)

你必须把那个盒子和那个盒子放在一起，这是一个组件。很不同，要统一不能用 px 那个用%。否则容易出你盒子的问题。
 …
 ***@**

[2022-10-11 13:42] #499 closed

[2022-10-11 13:44] #497 closed

[2022-10-11 13:45] #495 closed

[2022-10-11 13:45] #494 closed

[2022-10-11 13:46] #493 closed

[2022-10-11 13:47] #491 closed

[2022-10-11 13:55] #488 closed

[2022-10-11 14:00] #476 closed

[2022-10-11 14:01] #472 closed

[2022-10-11 14:02] #469 closed

[2022-10-11 14:03] #459 closed

[2022-10-11 14:04] #455 closed

[2022-10-11 14:05] #454 closed

[2022-10-11 14:06] #453 closed

[2022-10-11 14:07] #438 closed

[2022-10-14 18:53] MaxMorais commented on #492
@dddomodossola sorry, our conversation get lost on the follow of my emails!

The Remote DOM, allow us, to control and transfer states, between the backend and the frontend, without interchange code.

I'll try ilustrate this with a code snippet:

[code]

This will produce a JSON like that

[code]

On this approach what I'm transfering is just a JSON between the backend and frontend, but preserving

[2022-10-17 20:22] harwalan opened #501 "Can REMI be output to an image file? (jpg, png, etc)"
I'm hoping to build an interface with REMI and then output the results into some kind of image file.  A JPG would be easily distributable.  Is this possible?

[2022-10-17 20:23] harwalan opened #502 "Will REMI run on embedded devices with CircuitPython or MicroPython?"

[2022-10-17 20:38] dddomodossola commented on #501
Hello @harwalan,

Remi outputs to html. So you can save and open it everywhere with a a browser. I suppose that there should be libraries to convert from html to jpg, but never tried to do so.
Of course, saving html or images allows you to look an "offline" interface, interactivity is lost.
May I ask you why you want to convert interface to image?

Kind Regards

[2022-10-17 20:44] dddomodossola commented on #502
I don't know. The embedded device family is so vast that I can imagine remi could work on some devices and not on others.
MicroPython implements a small subset of python libraries, and remi uses networking features that typically are not suited for small circuits. So probably remi will not work on micropython. The same should be for CircuitPython.
Differently, remi will work without problem on SBC

[2022-10-17 20:57] harwalan commented on #501
@dddomodossola Thanks for the quick replies?

I'm playing a lot with small devices.  I have some the run CircuitPython, MicroPython or similar.  The also have a variety of displays (e-ink, LCD, etc).  One thing they will all do is display images.  A UI framework that generates an image could be useful.  It might be best to do on the devices, but even transporting to the device over HTTP is feasibl

[2022-10-17 21:12] dddomodossola commented on #501
I am actually playing with an stm32 board, just for fun. Embedded devices are really funny and useful. It would be wonderful to get remi running un such devices. However most of these little embedded devices cannot host a remi application, also because of limited resources.

[2022-10-20 15:28] #501 closed

[2022-10-20 15:29] #502 closed

[2022-10-29 06:03] kuhaku43 opened #503 "How to use the animation css property in remi"
I'm trying to make a web page with animations, at first I was using threads to manage the animations. But I realized that the css has a property that facilitates the use of some animations. I would like to know if it is possible and how I could implement this property. Thank you very much in advance.

[2022-10-29 15:17] dddomodossola commented on #503
Hello @kuhaku43 ,

You can add css content to remi from within the application, by appending css to the page header or by using a css file.
Here is an example using the css appended to the page header:

[code]

[2022-10-29 23:50] kuhaku43 commented on #503
Thank you very much for the clarification. I had tried something similar but without the "<style>" tag.

[2022-10-29 23:50] #503 closed

[2022-10-30 22:15] WC802 opened #504 "Problem with Cancel button of GenericDialog?"
Hi!
I've been trying to use the GenericDialog function but when clicking the Cancel button the following error appears: 'NoneType' object has no attribute 'set_root_widget'.
Reading the function this seems to come from this lines:
`self._base_app_instance = None`

`self._old_root_widget = None`

I don't know if I'm using it wrong.
Thank you very much.

[2022-10-31 22:05] dddomodossola commented on #504
Hello @WC802 ,

I'm unable to reproduce the problem. Can you show me how you use the GenericDialog?
However an usage example is within the widgets_overview_app.py (https://github.com/rawpython/remi/blob/06808ad6c332f2a4cb3ed33fa834474c66e2d7d9/examples/widgets_overview_app.py#L171)
Note that when you call *dialog.show* you must pass the application instance as argument (https://github.com/rawpytho

[2022-11-01 04:00] WC802 commented on #504
Thank you very much for your answer!
I was able to solve it with the example, which I didn't find earlier.
Also, I was trying to do a widget for error handling to make a warning pop up with a message that the user can dismiss. This is what GenericDialog does, except it has two buttons. Although I managed to add the class myself, was there already a class that did this? I couldn't find it in the do

[2022-11-01 08:45] dddomodossola commented on #504
The dialog buttons are 'cancel' and 'conf'. To hide the cancel button you can do:

[code]

[2022-11-02 15:00] WC802 commented on #504
Thank you very much for answering so fast!

[2022-11-02 15:01] #504 closed

[2022-11-02 19:08] WC802 opened #505 "Video stream not seen remotely"
I'm sorry to bother again. I've trying to set up a video streaming as part of an app using camera.py form the examples. This works perfectly on the browser from the computer I'm running the code but when accessing to the webpage form another computer no preview is seen.
Thank you very much in advance.